<div class="input" [ngClass]="{ 'has-error': error }">
    <div [attr.for]="label" class="label">{{label}}</div>
    <div class="field" [class]="{'is-focused': isFocused, 'has-error': error}">
        <img [src]="imgPath" alt="" />
        <input
          [type]="type === 'password' && getPasswordVisibility(field) ? 'text' : type"
          [placeholder]="placeholder"
          [(ngModel)]="value"
          [attr.aria.label]="label"
          [id]="label"
          (focus)="onFocus(true)"
          (blur)="onFocus(false)"
        />
        @if (type === 'password') {
          <img
            [src]="getPasswordVisibility(field) ? 'assets/svgs/open.svg' : 'assets/svgs/close.svg'"
            alt=""
            (click)="togglePasswordVisibility(field)"
          />
        }
    </div>
  </div>
  