<div class="container">
    <div class="logo">
        <img src="assets/svgs/Logo.svg" alt="logo">
    </div>

    <div class="password">
        <h6>Reset Password?</h6>
        <p>Your new password must be different from the<br> previous ones</p>

        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <app-input-field
            type="password"
            placeholder="New Password"
            imgPath="assets/svgs/password.svg"
            formControlName="password"
            [ngClass]="{'has-error': passwordForm.get('password')?.invalid && (passwordForm.get('password')?.dirty || passwordForm.get('password')?.touched)}"
            />
            <div class="error-message" *ngIf="passwordForm.get('password')?.invalid && (passwordForm.get('password')?.dirty || passwordForm.get('password')?.touched)">
              Password must be at least 12 characters, including uppercase, lowercase, number, and symbol
            </div>
            <app-input-field
            type="password"
            placeholder="Confirm Password"
            imgPath="assets/svgs/password.svg"
            formControlName="confirmPassword"
            />
            <div class="error-message" *ngIf="passwordForm.hasError('mismatchedPassword') && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)">
              Passwords do not match
            </div>
            <div id="buttons">
                <button class="btn-reset" type="submit" [disabled]="passwordForm.invalid">Reset Password</button>
            <button class="btn-back" [routerLink]="['/login']">back to login</button>
            </div>
        </form>
    </div>
   
</div>