<header>
    <div class="logo">
        <img src="../../../../assets/logo.svg" alt="application logo">
        <h4>SWIFT CRAFT</h4>
    </div>

    <div class="nav-container">
        @if (userProfile | async; as user) {
            <a routerLink="/help-and-support" routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{ exact: true }">Help & Support</a>
            <a routerLink="/pro-signup" routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{ exact: true }">Sign up as Pro</a>

            <a routerLink="/quote-and-bookings" routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{ exact: true }">Quote</a>
            

            <a>Tasks</a>

            <div class="profile-container">
                <div class="profile" (click)="navigateToProfile()">
                    <img [src]="user.profileImage || defaultImage" alt="user's avatar">
                    <p>{{user.userName}}</p>
                </div>
    
                <img src="../../../../assets/arrow-down.svg" alt="arrow down icon" (click)="toggleLogoutModal()">
            </div>
        }

        @else {
            <a class="pro" routerLink="/pro-signup" routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{ exact: true }">
                Join as a Pro
            </a>
    
            <a routerLink="/client-signup" routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{ exact: true }">Sign up</a>
    
            <a routerLink="/login" routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{ exact: true }">Log in</a>
        }
    </div>
</header>

@if (showLogoutModal) {
    <app-logout-modal/>
}