<div class="preview" *ngIf="providerInfo$ | async as providerInfo">
  <div class="preview-text">
    <p>Preview</p>
    <span
      >This is everything you have told us. Kindly make sure everything is
      right.</span
    >
  </div>

  <div class="basic-information">
    <div class="info-content">
      <p>Basic Information</p>
      <div class="more">
        <div class="profile-img">
          <img
            [src]="providerInfo.authservice.profileImage || 'assets/images/default-avatar.png' "
            alt="profile"
          />
        </div>
        <div class="business-info">
          <div class="name">
            <p>Business Owner’s name</p>
            <div class="field">
              {{ providerInfo.authservice.businessOwnerName }}
            </div>
          </div>
          <div class="name">
            <p>Email</p>
            <div class="field">{{ providerInfo.authservice.email }}</div>
          </div>
        </div>
      </div>
      <!-- business -->
      <div class="buzz">
        <div class="name">
          <p>Business Name</p>
          <div class="field">{{ providerInfo.authservice.userName }}</div>
        </div>
        <div class="name">
          <p>Phone Number</p>
          <div class="field">{{ providerInfo.authservice.mobileNumber }}</div>
        </div>
      </div>

      <div class="b-name">
        <div class="name">
          <p>Business Address</p>
          <div class="field">{{ providerInfo.authservice.placeName }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-business">
    <div class="header">
      <p>About (business name)</p>
    </div>

    <div class="details">
      <div class="date">
        <div class="date-info">
          <p>Inception Date</p>
          <div class="field">
            {{
              providerInfo["business-info"].aboutBusinessResponse.inceptionDate
                | date : "yyyy-MM-dd"
            }}
          </div>
        </div>
        <div class="business-doc">
          <p>Business Certificate</p>
          <div class="field">
            {{
              providerInfo["business-info"].aboutBusinessResponse
                .businessCertificate
            }}
          </div>
        </div>
      </div>
    </div>

    <div class="employees">
      <div class="count">
        <p>Number of Employees (Digits only)</p>
        <div class="field">
          {{
            providerInfo["business-info"].aboutBusinessResponse
              .numberOfEmployees
          }}
        </div>
      </div>

      <div class="id">
        <p>ID</p>
        <div class="field">
          {{
            providerInfo["business-info"].aboutBusinessResponse
              .businessIdentityCard
          }}
        </div>
      </div>
    </div>

    <div class="socials">
      <div class="media">
        <p>Social Media Links</p>
        @for(socialMediaLinks of providerInfo["business-info"].aboutBusinessResponse.socialMediaLinks; track $index ){
          <div class="fields">{{socialMediaLinks}}</div>
        }
      </div>

      <div class="summary">
        <p>Summary</p>
        <div class="sum">
          {{
            providerInfo["business-info"].aboutBusinessResponse.businessSummary
          }}
        </div>
      </div>
    </div>
  </div>

  <div class="payment">
    <div class="head">
      <p>Payment Method</p>
    </div>

    <div class="payment-pref">
      <div class="payment-info">
        <p>Payment Preference</p>
        @if (providerInfo['business-info'].paymentMethodResponses; as payments) {
          
          @for (payment of payments; track $index) {
            @if(payment.paymentPreference === 'PayPal'){
              <div class="account">
                <div class="account-info">
                  <p>Payment Preference</p>
                  <div class="field">{{payment.paymentPreference}}</div>
                </div>
          
                <div class="account-info">
                  <p>Email</p>
                  <div class="field">{{payment.email}}</div>
                </div>
          
                <div class="account-alias">
                  <p>Last Name</p>
                  <div class="field">{{payment.firstName}}</div>
                </div>
              </div>
              <p>First Name</p>
              <div class="field">
                {{payment.lastName}}
              </div>
            }@else if(payment.paymentPreference === 'Bank Account'){
              <div class="account">
                <div class="account-info">
                  <p>Payment Preference</p>
                  <div class="field">{{payment.paymentPreference}}</div>
                </div>
                <div class="account-info">
                  <p>Bank Name</p>
                  <div class="field">{{payment.bankName}}</div>
                </div>
                <div class="account-info">
                  <p>Account formArrayName="control"</p>
                  <div class="field">{{payment.accountName}}</div>
                </div>
                <div class="account-info">
                  <p>Account Number</p>
                  <div class="field">{{payment.accountNumber}}</div>
                </div>
                <div class="account-alias">
                  <p>Account Alias</p>
                  <div class="field">{{payment.accountAlias}}</div>
                </div>
              </div>
          }@else {
            <div class="account">
              <div class="account-info">
                <p>Payment Preference</p>
                <div class="field">{{payment.paymentPreference}}</div>
              </div>
              <div class="account-info">
                <p>Service Provider</p>
                <div class="field">{{payment.serviceProvider}}</div>
              </div>
              <div class="account-alias">
                <p>Account Name</p>
                <div class="field">{{payment.accountName}}</div>
              </div>
              <div class="account-alias">
                <p>Account Alias</p>
                <div class="field">{{payment.accountAlias}}</div>
              </div>
              <div class="account-alias">
                <p>Mobile Number</p>
                <div class="field">{{payment.phoneNumber}}</div>
              </div>
            </div>
          }
          
      }}

  
  <div class="preference">
    @if(providerInfo['provider-service']; as services){
      
      @for(service of services;
   track $index){
   <div class="head">
     <p>Preferences</p>
   </div>

    <div class="preference-details">
      <div class="service">
       <p>What service do you offer?</p>
       <div class="field">{{ service.service.name }}</div>
     </div> 
     <div class="experience">
       <p>Payment Preference</p>
       <div class="field">{{ service.paymentPreference }}</div>
     </div>
   </div> 

   <div class="documents">
     <div class="document">
       <p>Extra Document(s)</p>
       <div class="field">{{ service.documents }}</div>
     </div>
   </div>

  <div class="booking">
     @for(booking of service.bookingDays; track $index){
     <div class="days">
       <p>Booking Days</p>
       <div class="day"></div>
     </div>
     <div class="from">
       <p>From</p>
       <div class="time"></div>
       <div class="time"></div>
       <div class="time"></div>
     </div>

     <div class="to">
       <p>To</p>
       <div class="time"></div>
       <div class="time"></div>
       <div class="time"></div>
     </div>

     }
   </div> 

   <div class="scheduling">
     <p>Scheduling Policy (optional)</p>
     <div class="field">{{service.schedulingPolicy}}</div>
     
   </div>
   
   } 
    }
  </div>

  <div class="information">
    @if(providerInfo['provider-service']; as services){
      @for(service of services;
   track $index){

     <div class="head">
       <p>Business Experience</p>
     </div>
  
     <div class="exp">
       <div class="exp-info">
         <p>Title of Project</p>
         <div class="field"></div>
       </div>
       <div class="exp-details">
         <p>Description</p>
         <div class="field"></div>
       </div>
     </div>
   }
      
    }
  </div>

  <div class="pic-upload">
    <p>Uploads</p>
    <div class="uploaded"></div>
    <div class="uploaded"></div>
    <div class="uploaded"></div>
  </div>

  <div class="instruction">
    <p>
      By clicking on “Register”, you confirm that all provided information is
      accurate and complete. You acknowledge that you have reviewed and appreved
      all details for accuracy.
    </p>
  </div>

  <div class="buttons">
    <div class="back">Back</div>
    <div class="register" (click)="onContinue()">Register</div>
  </div>

