<div class="preview">
    <div class="preview-text">
        <p>Preview</p>
        <span>This is everything you have told us. Kindly make sure everything is right.</span>
    </div>

    <div class="basic-information">
       <div class="info-content">
        <p>Basic Information</p>
       <div class="more">
        <div class="profile-img">
            
        </div>
        <div class="business-info">
        <div class="name">
                <p>Business Owner’s name</p>
                <div class="field"></div> 
            </div>
            <div class="name">
                <p>Email</p>
                <div class="field"></div> 
            </div>
        </div>
       </div>
    <!-- business -->
     <div class="buzz">
        <div class="name">
            <p>Business Name</p>
            <div class="field"></div> 
        </div>
        <div class="name">
            <p>Phone Number</p>
            <div class="field"></div> 
        </div>
     </div>

     <div class="b-name">
        <div class="name">
            <p>Business Name</p>
            <div class="field"></div> 
        </div>
     </div>

       </div>
    </div>

    <!-- about -->
     
  

    
</div>

