<div class="about-business">
    <div class="about">
      <p>About (business name)</p>
      <span>Tell us more about your business</span>
    </div>
  
    <form [formGroup]="aboutForm" (ngSubmit)="onSubmit()">
      <app-fields
        label="Inception Date"
        type="date"
        formControlName="date"
        [error]="aboutForm.get('date')?.invalid && (aboutForm.get('date')?.dirty || aboutForm.get('date')?.touched)"
      />
      <div
        class="error-message"
        *ngIf="aboutForm.get('date')?.invalid && (aboutForm.get('date')?.dirty || aboutForm.get('date')?.touched)"
      >
        Inception date is required
      </div>

      <app-socials (validStateChange)="onSocialsValidStateChange($event)"/>
  
      <app-fields
        label="Number of Employees (Digits only)"
        type="number"
        placeholder="Enter the number of employees"
        formControlName="employees"
        [error]="aboutForm.get('employees')?.invalid && (aboutForm.get('employees')?.dirty || aboutForm.get('employees')?.touched)"
      />
      <div
        class="error-message"
        *ngIf="aboutForm.get('employees')?.invalid && (aboutForm.get('employees')?.dirty || aboutForm.get('employees')?.touched)"
      >
        Number of employees is required
      </div>
  
      <div class="text-area">
        <label>Summary</label>
        <textarea
          placeholder="Write a short summary about your business"
          formControlName="summary"
          [ngClass]="{ 'has-error': aboutForm.get('summary')?.invalid && (aboutForm.get('summary')?.dirty || aboutForm.get('summary')?.touched) }"
        ></textarea>
        <div
          class="error-message"
          *ngIf="aboutForm.get('summary')?.invalid && (aboutForm.get('summary')?.dirty || aboutForm.get('summary')?.touched)"
        >
          Summary is required
        </div>
      </div>
  
      <div class="doc-upload">
        <label>Upload Business Identity Card</label>
        <app-file-uploader
          (filesSelected)="onFileSelected('businessIdentityCard', $event)"
        />
      </div>
      <div class="error-message" *ngIf="aboutForm.get('businessIdentityCard')?.invalid">
        Business Identity Card is required
      </div>
  
      <div class="doc-upload">
        <label>Upload Business Certificate</label>
        <app-file-uploader
          (filesSelected)="onFileSelected('businessCertificate', $event)"
        />
      </div>
      <div class="error-message" *ngIf="aboutForm.get('businessCertificate')?.invalid">
        Business Certificate is required
      </div>
  
      <div class="btns">
        <button type="button" class="btn-back" (click)="navigateTo()">Back</button>
        <button type="submit" class="btn-continue" [disabled]="aboutForm.invalid">
          Continue
        </button>
      </div>
    </form>
  </div>
  