@use '../../../../../styles/_functions' as *
@use '../../../../../styles/_mixins' as *
@use '../../../../../styles/_variables' as *

.about-business
    padding: pxToRem(40) pxToRem(135) 
    height: 100vh
    overflow-y: auto
    scrollbar-width: none

    .about
        p
         font-size: pxToRem(30)
         font-weight: 600
         color: $text-main

        span
            font-size: pxToRem(14)
            font-weight: 400
            color: $text-secondary

    form
       @include flex-option(flex, null , null ,column )
       gap: pxToRem(32)
       margin-top: pxToRem(32)
       
       input
         padding: pxToRem(16) pxToRem(21)
         width: 100%

       .text-area
            @include flex-option(flex, null , null ,column )
            gap: pxToRem(8)

            textarea
                padding: pxToRem(16) pxToRem(21)
                width: 100%
                resize: vertical
                height: pxToRem(123)
                border: 1px solid #EAECF0

       .btns
            @include flex-option(flex, null, null, row)
            gap: pxToRem(5) 
            align-self: flex-end 

            .btn-back
                border: 1px solid #EAECF0
                border-radius: pxToRem(4)  
                padding: pxToRem(10) pxToRem(21) 
                background: none
                color: $text-main
                font-size: pxToRem(16)
                font-weight: 500
                cursor: pointer 
                
            .btn-continue
                background-color: $primary
                border: none
                border-radius: pxToRem(4)  
                padding: pxToRem(10) pxToRem(21.41) 
                color: $white
                font-size: pxToRem(16)
                font-weight: 500
                cursor: pointer          

        