<div class="about-business">
    <div class="about">
        <p>About (business name)</p>
        <span>Tell us more about your business</span>
    </div>

    <form action="">
        <app-fields
        label="Inception Date"
        type="date"
        />
        
        <app-socials/>
    
        <app-fields
        label="Number of Employees (Digits only)"
        type="number"
        placeholder="Enter the number of employees"
        />
        <div class="text-area">
            <label>Summary</label>
            <textarea name="" id=""></textarea>
        </div>

        <div class="btns">
            <button type="submit" class="btn-back" (click)="navigateTo()">Back</button>
            <button type="button" class="btn-continue" [routerLink]="['/registration/payment-method']" >Continue</button>
        </div>
    </form>
</div>
