<main>
  <div class="chat-header">
    <div class="profile">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
        styleClass="mr-2"
        size="large"
        shape="circle"
      />
      <h4 class="username">Laurent Michael Jones</h4>
    </div>
  </div>

  <div class="messages">
    <div class="message other">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
        styleClass="mr-2"
        size="large"
        shape="circle"
      />
      <p class="message-content">
        Lorem ipsum dolor sit amet consectetur. Arcu leo purus natoque convallis
        dictum. Et sem sed donec nec pretium velit id cursus morbi. Aliquam
        pharetra libero libero bibendum sit mus nec donec. Tellus elit
        suspendisse tempor viverra. Pharetra integer eget velit egestas dui at.
        Nisi tempor ac maecenas nisl nunc tortor aliquet.
      </p>
    </div>
    <div class="message mine">
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        styleClass="mr-2"
        size="large"
        shape="circle"
      />
      <p class="message-content">
        Lorem ipsum dolor sit amet consectetur. Arcu leo purus natoque convallis
        dictum. Et sem sed donec nec pretium velit id cursus morbi. Aliquam
        pharetra libero libero bibendum sit mus nec donec. Tellus elit
        suspendisse tempor viverra. Pharetra integer eget velit egestas dui at.
        Nisi tempor ac maecenas nisl nunc tortor aliquet.
      </p>
    </div>
  </div>

  <div class="chat-input">
    <input type="text" pInputText placeholder="Type your message..." />
    <div class="options">
      <button class="emoji" type="button">
        <i class="pi pi-face-smile"></i>
      </button>
      <button class="attach">
        <i class="pi pi-paperclip"></i>
      </button>
      <button class="send">Send</button>
    </div>
  </div>
</main>
