<div class="content">
    <div class="logo">
      <img src="assets/svgs/Logo.svg" alt="logo">
    </div>
    <div class="form">
      <div class="back" (click)="goBack()">
        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.4753 6.89193H1.80859M1.80859 6.89193L7.64193 12.7253M1.80859 6.89193L7.64193 1.05859" stroke="#065AD8" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <p>Back</p>
      </div>
      <div class="header">
        <h6>Sign up for an Account</h6>
        <p>Select a method to sign up to Swift Craft</p>
      </div>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <app-input-field
        type="text"
        placeholder="Business Name"
        imgPath="assets/svgs/person.svg"
        formControlName="userName"
        [error]="signUpForm.get('userName')?.invalid && (signUpForm.get('userName')?.dirty || signUpForm.get('userName')?.touched)"
        />
        <div class="error-message" *ngIf="signUpForm.get('userName')?.invalid && (signUpForm.get('userName')?.dirty || signUpForm.get('userName')?.touched)">
          Business name is required
        </div>
        <app-input-field
        type="email"
        placeholder="Email"
        imgPath="assets/svgs/email.svg"
        formControlName="email"
        [error]="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)"
        />
        <div class="error-message" *ngIf="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty || signUpForm.get('email')?.touched)">
          Email is required and must be valid
        </div>
        <app-input-field
        type="password"
        placeholder="Password"
        imgPath="assets/svgs/password.svg"
        formControlName="password"
        [error]="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)"
        />
        <div class="error-message" *ngIf="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)">
          Password must be at least 12 characters, including uppercase, lowercase, number, and symbol
        </div>
        <app-input-field
        type="password"
        placeholder="Confirm Password"
        imgPath="assets/svgs/password.svg"
        formControlName="confirmPassword"
        [error]="signUpForm.hasError('mismatchedPassword') && (signUpForm.get('confirmPassword')?.dirty || signUpForm.get('confirmPassword')?.touched)"
        />
        <div class="error-message" *ngIf="signUpForm.hasError('mismatchedPassword') && (signUpForm.get('confirmPassword')?.dirty || signUpForm.get('confirmPassword')?.touched)">
          Passwords do not match
        </div>
        <button class="btn-signup" type="submit" [disabled]="signUpForm.invalid">Sign up</button>
        <div class="google">
          <img src="assets/svgs/Google.svg" alt="google">
          <button class="google-btn">Sign in with google</button>
        </div>
        <div class="text">
          <p>Alredy have an account?</p>
          <a [routerLink]="['/login']">Sign in</a>
        </div>
      </form>
    </div>
  </div>
