<div class="container">
    @if (provider) {
        <section>
            @if (provider['business-info'].aboutBusinessResponse; as about) {
                <p class="summary">
                    {{about.businessSummary}}
                </p>
            }

            <div class="col">
                <div class="col-1">
                    @if (provider['provider-service']; as services) {
                        <div class="col-1-1">
                            <h5>Services</h5>

                            <div class="services">
                                @if (services.length > 0) {
                                    @for (service of services; track $index) {
                                        @if (service.service) {
                                            <div class="service">
                                                <i class="pi pi-check-circle" style="color: #408EFD;"></i>
                                                <p>{{service.service.name}}</p>
                                            </div>
                                          }
                                    }
                                }
                                @else {
                                    <p>No services</p>
                                }
                            </div>
                        </div>
                    }

                    <div class="col-1-1">
                        <h5>Payment Methods</h5>

                        @if (provider['business-info'].paymentMethodResponses; as payments) {
                            <div class="payments">
                                @for (payment of payments; track $index) {
                                    <p>{{payment.paymentPreference}}</p>
                                }
                            </div>
                        }
                    </div>
                    
                </div>

                <div class="overview">
                    <h5>Overview</h5>

                    <div class="info">
                        <p>Top Pro</p>
                        <p>Hired 400 times</p>
                        <p>{{provider.authservice.placeName}}</p>
                        <p>{{provider.authservice.status === 'ACTIVE' ? 'Background Checked' :'Background Check pending'}}</p>
                        @if (provider['business-info'].aboutBusinessResponse; as about) {
                            <p>{{about.numberOfEmployees}} employees</p>
                        }
                        @if (getBusinessYears === '1 year in business') {
                            <p>
                              1 year in business
                            </p>
                          }
                          
                          @if (getBusinessYears !== '1 year in business') {
                            <p>
                              {{ getBusinessYears }}
                            </p>
                          }
                    </div>
                </div>

                <div class="business">
                    <h5>Business hours</h5>

                    @if (provider['provider-service']; as services) {
                        @for (service of services; track $index) {
                            <div class="col-2">
                                @for (booking of service.bookingDays; track $index) {
                                    <div class="booking">
                                        <p>{{booking.day | titlecase}}</p>
                                        <p>{{booking.startTime}} - {{booking.endTime}}</p>
                                    </div>
                                }
                            </div>
                        }
                    }

                </div>

            </div>

        </section>

        <div class="actions">
            @if (isApproved) {
                <button type="button" class="revoked" (click)="showDialog()">Revoke Approval</button>
                <p-dialog header="Revoke Pro Account" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem'}">
                    <app-message-form
                        [emailPlaceholder]="'Enter email address'"
                        [messagePlaceholder]="'Enter reason for account revocation'"
                        [showWarning]="true"
                        (formSubmit)="handleFormSubmit($event, 'revoke')"
                    ></app-message-form>
                </p-dialog>
            }
            @else {
                <div class="card flex justify-center">
                    <button type="button" class="secondary" (click)="showDialog()">Reject</button>
                    <p-dialog header="Reject Pro Account" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem'}">
                        <app-message-form
                            [emailPlaceholder]="'Enter email address'"
                            [messagePlaceholder]="'Enter reason for rejection'"
                            [showWarning]="true"
                            [email]="userEmail"
                            (formSubmit)="handleFormSubmit($event, 'reject')"
                        ></app-message-form>
                    </p-dialog>
                </div>
                <button type="button" class="primary" (click)="openDialog()">Approve account</button>
            }
        </div>
    }
</div>