<main>
  <form [formGroup]="aboutBusinessForm">
    <section class="formData">
      <div class="left">
        <div class="inceptionDate">
          <label for="inceptionDate"> Inception Date</label>

          <input type="text" pInputText formControlName="inceptionDate" />
        </div>

        <div class="businessCertificate">
          <label for="businessCertificate">Business Certificate</label>
          <a target="_blank" [href]="businessCertificate">{{
            businessCertificate
          }}</a>
        </div>

        <div class="socialLinks">
          <label for="socialLinks">Social Media Links</label>
          <div class="socials" formArrayName="socialLinks">
            @for (socialMedia of socialMediaLinks; track $index ) {
            <p-inputGroup>
              <p-inputGroupAddon>
                <i class="pi pi-facebook"></i>
              </p-inputGroupAddon>
              <input pInputText [value]="socialMedia" />
            </p-inputGroup>
            }
          </div>
        </div>
      </div>
      <div class="right">
        <div class="employees">
          <label for="numberOfEmployees">Number of Employees</label>
          <input
            type="number"
            id="numberOfEmployees"
            formControlName="numberOfEmployees"
          />
        </div>
        <div class="businessID">
          <label for="businessID">ID</label>
          <a target="_blank" [href]="businessId">{{ businessId }}</a>
        </div>
        <div class="summary">
          <label for="summary">Summary</label>
          <textarea rows="6" id="summary"></textarea>
        </div>
      </div>
    </section>
    <!-- <section class="formActions">
      <button
        [style]="{ display: isEditing ? 'none' : 'block' }"
        type="button"
        class="edit"
        (click)="setEditing()"
      >
        Edit
      </button>
      <div
        class="edit-buttons"
        [style]="{ display: isEditing ? 'flex' : 'none' }"
      >
        <button type="button" class="cancel" (click)="cancelEditing()">
          Cancel
        </button>
        <button type="submit" class="save">Save</button>
      </div>
    </section> -->
  </form>
</main>
