<div class="container">
  @if (providerInfo | async; as provider) {
    <header>

        <div class="info">
            <div class="avatar">
                <img src=".././../../../../assets/images/core.png" alt="avatar">
            </div>

            <div class="details">
                <div class="col">
                    <p>{{provider.authservice.userName}}</p>
                    <span class="status-label" [ngClass]="status | lowercase">
                        <i class="status-icon"></i>
                        {{provider.authservice.status}}
                    </span>
                </div>

                <div class="col-1">
                    <div class="role">
                        <i class="pi pi-shield" style="color: #408EFD;"></i>
                        <p>pro</p>
                    </div>

                    <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />

                    <p class="rate">(5.0)</p>
                </div>
            </div>
        </div>

        <div class="email">
            <button type="button" (click)="showDialog()">Send an Email</button>
            <p-dialog header="Send Mail" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem'}">
              <app-message-form
                  [emailPlaceholder]="'Enter email address'"
                  [messagePlaceholder]="'Message'"
                  [showWarning]="true"
                  (formSubmit)="handleFormSubmit($event, '')"
              ></app-message-form>
          </p-dialog>
        </div>
    </header>

    <main>
            <p-tabView>
              
          <p-tabPanel header="About">
            <div class="tab-content">
                <app-about [provider]="provider"/>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Photos">
            <div class="tab-content">
              <app-photos/>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Reviews">
            <div class="tab-content">
              <app-pro-details-review [provider]="provider"/>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Credentials">
            <div class="tab-content">
              <app-admin-credentials [provider]="provider"/>
            </div>
          </p-tabPanel>

        </p-tabView>
    </main>
  }
</div>