<main>
  <header>
    <div class="headline">
      <h4>Linked Accounts</h4>
      <p class="kicker">
        Choose your preferred payment method for receiving future payments
      </p>
    </div>
    <!-- <p-button label="Add account" icon="pi pi-plus" /> -->
    <button (click)="showDialog()" class="add-account">
      <i class="pi pi-plus"></i>Add account
    </button>
  </header>

  <section class="account-list">
    @if (linkedAccounts$ | async; as linkedAccounts) {
    <ul>
      @for (account of linkedAccounts; let i = $index; track i) {
      <li>
        <span class="name">{{
          account.bankName
            ? account.bankName
            : account.paymentPreference + " - " + account.phoneNumber
        }}</span>
        <p-button
          (onClick)="openAccountOptions($event, account)"
          icon="pi pi-ellipsis-v"
        />
      </li>
      <p-menu #menu [model]="items" [popup]="true" />
      }
    </ul>
    } @else {
    <div class="empty">
      <svg
        width="95"
        height="69"
        viewBox="0 0 95 69"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M3.10965 13.1645L74.3704 1.75615C75.7746 1.53134 77.0951 2.48744 77.3199 3.89165C77.3204 3.89446 77.3208 3.89727 77.3213 3.90008L84.2922 48.3879C84.5119 49.7895 83.5563 51.1048 82.1554 51.329L10.8947 62.7374C9.49049 62.9622 8.16992 62.0061 7.94512 60.6019C7.94467 60.5991 7.94422 60.5963 7.94378 60.5935L0.972814 16.1057C0.753184 14.704 1.70873 13.3888 3.10965 13.1645Z"
          fill="white"
        />
        <path
          d="M14.6042 62.0074L11.8719 62.4578C9.99503 62.767 8.23258 61.4345 7.93525 59.4815L1.47646 17.0456C1.1792 15.0925 2.45969 13.2585 4.33652 12.9492L73.1522 1.60709C75.029 1.29782 76.7915 2.63032 77.0888 4.58337C77.3784 6.48631 77.6092 8.00286 77.7812 9.13304M78.2718 12.3564C78.4276 13.3801 78.5641 14.2765 78.6812 15.0457"
          stroke="#065AD8"
          stroke-width="2.5"
          stroke-linecap="round"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6.56375 15.1163L71.589 4.96162C72.9898 4.74288 74.3038 5.69755 74.5287 7.09731L80.8459 46.4241C81.0715 47.8282 80.1161 49.1492 78.712 49.3748C78.7083 49.3754 78.7046 49.376 78.7009 49.3766L13.6756 59.5312C12.2749 59.75 10.9608 58.7953 10.736 57.3955L4.41872 18.0688C4.19317 16.6647 5.14857 15.3436 6.55266 15.1181C6.55635 15.1175 6.56005 15.1169 6.56375 15.1163Z"
          fill="#E8F0FE"
        />
        <path
          d="M89.6247 18.9431H22.2477C20.3516 18.9431 18.8145 20.4802 18.8145 22.3763V64.0042C18.8145 65.9003 20.3516 67.4374 22.2477 67.4374H89.6247C91.5208 67.4374 93.0579 65.9003 93.0579 64.0042V22.3763C93.0579 20.4802 91.5208 18.9431 89.6247 18.9431Z"
          fill="white"
          stroke="#065AD8"
          stroke-width="2.5"
        />
        <path
          d="M91.9854 29.0283H19.8877V41.0446H91.9854V29.0283Z"
          fill="#E8F0FE"
        />
        <path
          d="M31.723 29.0283H25.5462M92.5615 29.0283H36.0504H92.5615ZM87.4116 40.1863H19.7432H87.4116ZM50.4113 56.4941H26.1144H50.4113Z"
          stroke="#065AD8"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <h1>No Accounts Found</h1>

      <p class="empty-message">
        You haven’t added any payment account yet. Click on the button above to
        add new account.
      </p>
    </div>
    }
  </section>
</main>

<p-dialog
  header="Add Account"
  [modal]="true"
  [(visible)]="isDialogVisible"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '32.75rem', overflow: 'visible' }"
  class="addAccount"
>
  <div class="preferred-account">
    <label for="preferredAccount">Payment Preference</label>
    <p-dropdown
      (onChange)="setPreferredAccount($event)"
      [options]="paymentPreferences"
      optionLabel="paymentPreference"
      placeholder="Select payment preference"
      [(ngModel)]="defaultPaymentPreference"
    />
  </div>

  <hr />

  @if (selectedPaymentPreference === 'Bank Account') {
  <app-bank-details-form (closeModalEvent)="closeModal($event)" />
  } @else if (selectedPaymentPreference === 'Mobile Money') {
  <app-mobile-money-form (closeModalEvent)="closeModal($event)" />
  }
</p-dialog>

<p-dialog
  [modal]="true"
  [(visible)]="isConfirmDialogVisible"
  [draggable]="false"
  [resizable]="false"
  header="Delete Account"
  [style]="{ width: '26.75rem' }"
  class="confirmDelete"
>
  <p>
    Are you sure you want to delete this account? <br /><br />
    <b>{{
      selectedAccount?.bankName
        ? selectedAccount?.bankName
        : selectedAccount?.accountName
    }}</b>
    <br /><br />Deleting account will remove it permanently from your linked
    accounts.
  </p>
  <div class="buttons">
    <p-button
      label="Cancel"
      severity="secondary"
      (onClick)="isConfirmDialogVisible = false"
    />
    <p-button severity="danger" label="Delete" (onClick)="deleteAccount()" />
  </div>
</p-dialog>
