<header>
    <p-dropdown
      [formControl]="selectedMonth"
      [options]="months"
      optionLabel="name"
      optionValue="value"
      placeholder="Month"
    />

    <div class="today">
        <i class="pi pi-angle-left" style="color: #252C32" (click)="navigateToPrevious()"></i>
        <button (click)="navigateToToday()">This Week</button>
        <i class="pi pi-angle-right" style="color: #252C32" (click)="navigateToNext()"></i>
    </div>

    <button (click)="showDialog()" class="add-btn">
        <i class="pi pi-plus-circle" style="color: #ffffff"></i>
        Add event
    </button>

    <p-dialog header="Add Event" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
        <app-event-form (eventAdded)="onEventFormSubmitted($event)"/>
    </p-dialog>
</header>

<full-calendar [options]='calendarOptions()' #calendar>
    <ng-template #eventContent let-arg>
        <p class="title">{{ arg.event.title }}</p>
        <br>
        <p class="time">{{ arg.timeText }}</p>
    </ng-template>
</full-calendar>

<p-overlayPanel #op>
    <div class="event-popup">
        <div class="event-actions">
            <button pButton icon="pi pi-pencil"></button>
            <button  pButton icon="pi pi-trash"></button>
            
            <p-toast />
            <p-confirmPopup />
            <p-button 
                (click)="confirm1($event)" 
                label="Save" 
                [outlined]="true" />
            <p-button 
                (click)="confirm2($event)" 
                label="Delete" 
                severity="danger" 
                [outlined]="true" />

            <button (click)="op.hide()" pButton icon="pi pi-times"></button>
        </div>

        <h4>{{ selectedEvent?.title }}</h4>
        <p>{{ selectedEvent?.description }}</p>
        <p>{{ selectedEvent?.start }} - {{ selectedEvent?.end }}</p>
    </div>
</p-overlayPanel>
