<div class="pro">
    <div class="pro-img"></div>
    <div class="upload">
        <p>Click to update or remove  your 
            profile picture</p>

            <div class="actions">
                <div class="load"><img src="assets/upload.svg" alt="upload">
                    <button class="btn-upload">Upload</button></div>
               <div class="del">
                <img src="assets/delete.svg" alt="cancel">
                <button class="btn-remove">Remove</button>
               </div>
            </div>
    </div>

</div>
