<div class="email-container" style="background-color: white; display: flex; flex-direction: column; margin: 1rem auto; padding: 2rem; width: 40rem;">
    <header style="padding: 4px 1rem; display: flex; gap: 4px;">
      <img src="../../../assets/logo.svg" alt="application logo">
    </header>
    <main style="display: flex; flex-direction: column; gap: 2rem; padding: 2rem 1.5rem; align-items: flex-start; border-radius: 4px 4px 0 0;">
  
      <section style="font-size: 1rem; display: flex; flex-direction: column; color: #252C32;">
        <p>Hello Sandra Johnson,</p>
  
        <p>We've received a request to reset the password for your Swift Craft account. No worries – we're here to help you regain access to your account securely.</p>
  
        <p>To reset your password, simply click the button below:</p>
      </section>
  
      <button type="submit" style="padding: 0.75rem 1rem; background-color: #408EFD; border-radius: 4px; outline: none; border: 1px solid transparent; color: white; font-size: 1rem; font-weight: 500; letter-spacing: 0.8px;">Reset password</button>
  
      <section style="font-size: 1rem; display: flex; flex-direction: column; color: #252C32;">
        <p>If you didn't initiate this request, don't worry – your account is still secure. You can safely ignore this email, and your password will remain unchanged.</p>
  
        <p>If the button does not work, you can also copy and paste the following URL into your browser:</p>
  
        <a href="" style="color: #0408E7;">[Link here]</a>
      </section>
    </main>
  </div>
  