<section class="content">
  <h1 class="page-title">Services</h1>

  <div class="options">
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input
        type="text"
        pInputText
        placeholder="Search by project title, description, ..."
      />
    </p-iconField>

    <p-button
      (onClick)="showDialog()"
      label="Create New Service"
      icon="pi pi-plus"
      styleClass="create-service-button"
    />
  </div>

  <div class="main-content">
    <div class="table">
      @if (services$ | async; as services) {
      <p-table
        [paginator]="true"
        [rows]="10"
        [value]="services"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Service Name</th>
            <th>Location</th>
            <th>Payment Preference</th>
          </tr>
        </ng-template>
        @for (service of services; track service.id) {
        <ng-template pTemplate="body" let-service>
          <tr>
            <td>{{ service.service.name }}</td>
            <td class="description">{{ service.placeName }}</td>
            <td>{{ service.paymentPreference }}</td>
            <td>
              <p-button
                (onClick)="openServiceOptions($event, service)"
                icon="pi pi-ellipsis-v"
              />
            </td>
          </tr>
        </ng-template>
        }
      </p-table>
      } @else {
      <div class="loading">
        <app-loader />
      </div>
      }
    </div>
  </div>

  <p-menu #menu [model]="options" [popup]="true" />

  <p-dialog
    header="Create New Service"
    [modal]="true"
    [(visible)]="visible"
    [draggable]="false"
    [resizable]="false"
    class="new-service-dialog"
  >
    <app-service-creation-form
      (closeDialogEvent)="closeDialog($event)"
      (refreshServiceListEvent)="refreshServices()"
    />
  </p-dialog>
</section>
