<div class="container">
  @if (provider) {
        <div class="col">

          <div class="overview" >
            <h6>Overview</h6>

              <p>Top Pro</p>
              <p>Hired 400 times</p>
              <p>{{provider.authservice.placeName || 'N/A'}}</p>
              <p>Background Checked</p>
              @if (provider['business-info'].aboutBusinessResponse; as about) {
                <p>{{about.numberOfEmployees}} employees</p>
              }

              @if (getBusinessYears === '1 year in business') {
                <p>
                  1 year in business
                </p>
              }
              
              @if (getBusinessYears !== '1 year in business') {
                <p>
                  {{ getBusinessYears }}
                </p>
              }
              
              
          </div>

          <div class="col-1">
            <h6>Business Hours</h6>

            <div class="col-2">
              <div class="days">
                <p>Mon</p>
                <p>Tue</p>
                <p>Wed</p>
                <p>Thu</p>
                <p>Fri</p>
                <p>Sat</p>
                <p>Sun</p>
              </div>

              <div class="time">
                <p>10:00am - 4:00pm</p>
                <p>10:00am - 4:00pm</p>
                <p>10:00am - 4:00pm</p>
                <p>10:00am - 4:00pm</p>
                <p>10:00am - 4:00pm</p>
                <p>Closed</p>
                <p>Closed</p>
              </div>
            </div>
          </div>
        </div>
              
        <div class="service-payment">
          @if (provider['provider-service']; as services) {
            <div class="payment">
                <h6>Services</h6>
                  <div class="services">
                    @for (service of services; track $index) {
                      <div class="service">

                        @if (service.service) {
                          <i class="pi pi-check-circle" style="color: #408EFD"></i>
                          <p>{{service.service.name}}</p> 
                        }
                      </div>
                    }
                  </div>
                </div>
                
                <div class="payment">
                  <h6>Payment Methods</h6>
                    @for (service of services; track $index) {
                      <p>{{service.paymentPreference}}</p>
                    }
                </div>
              }
        </div>
  }
</div>