<div class="container">
        <div class="col">

          <div class="overview">
            <h6>Overview</h6>
            <p>Top Pro</p>
            <p>Hired 400 times</p>
            <p>Brooklyn, NYC</p>
            <p>Background checked</p>
            <p>5 employees</p>
            <p>2 years in business</p>
          </div>

          <div class="col-1">
            <h6>Business Hours</h6>

            <div class="col-2">
              <div class="days">
                <p>Mon</p>
                <p>Tue</p>
                <p>Wed</p>
                <p>Thu</p>
                <p>Fri</p>
                <p>Sat</p>
                <p>Sun</p>
              </div>

              <div class="time">
                <p>10:00am - 4:00pm</p>
                <p>10:00am - 4:00pm</p>
                <p>10:00am - 4:00pm</p>
                <p>10:00am - 4:00pm</p>
                <p>10:00am - 4:00pm</p>
                <p>Closed</p>
                <p>Closed</p>
              </div>
            </div>
          </div>
        </div>
              
        <div class="service-payment">
            <div class="payment">
                <h6>Services</h6>
                <div class="services">
                    <div class="service">
                        <img src="../../../../../../assets/circle-check.svg" alt="">
                        <p>Repairs</p>
                    </div>
                    <div class="service">
                        <img src="../../../../../../assets/circle-check.svg" alt="">
                        <p>Installation</p>
                    </div>
                    <div class="service">
                        <img src="../../../../../../assets/circle-check.svg" alt="">
                        <p>Service 1</p>
                    </div>
                    <div class="service">
                        <img src="../../../../../../assets/circle-check.svg" alt="">
                        <p>Service 1</p>
                    </div>
                    <div class="service">
                        <img src="../../../../../../assets/circle-check.svg" alt="">
                        <p>Service 1</p>
                    </div>
                    <div class="service">
                        <img src="../../../../../../assets/circle-check.svg" alt="">
                        <p>Service 1</p>
                    </div>
                </div>
            </div>
            <div class="payment">
                <h6>Payment Methods</h6>
                <p>MTN</p>
                <p>Paypal</p>
                <p>Bank Transfer</p>
            </div>
        </div>
</div>