<div class="container">
    <h5>Overview</h5>

    <section class="content">
            <div class="col">
                <h6>Business Hours</h6>
                <table class="business-hours-table">
                  <tbody>
                    <tr>
                      <td>1 Employee</td>
                      <td>Mon</td>
                      <td>10:00am - 4:00pm</td>
                    </tr>
                    <tr>
                      <td>2 Employee</td>
                      <td>Tue</td>
                      <td>10:00am - 4:00pm</td>
                    </tr>
                    <tr>
                      <td>3 Employee</td>
                      <td>Wed</td>
                      <td>10:00am - 4:00pm</td>
                    </tr>
                    <tr>
                      <td>4 Employee</td>
                      <td>Thu</td>
                      <td>10:00am - 4:00pm</td>
                    </tr>
                    <tr>
                      <td>5 Employee</td>
                      <td>Fri</td>
                      <td>10:00am - 2:00pm</td>
                    </tr>
                    <tr>
                      <td>5 Employee</td>
                      <td>Sat</td>
                      <td>Closed</td>
                    </tr>
                    <tr>
                      <td>5 Employee</td>
                      <td>Sun</td>
                      <td>Closed</td>
                    </tr>
                  </tbody>
                </table>
            </div>
              
        <div class="col">
            <div class="col-1">
                <h6>Services</h6>
                <div class="services">
                    <div class="service">
                        <img src="../../../../../../assets/circle-check.svg" alt="">
                        <p>Repairs</p>
                    </div>
                    <div class="service">
                        <img src="../../../../../../assets/circle-check.svg" alt="">
                        <p>Installation</p>
                    </div>
                    <div class="service">
                        <img src="../../../../../../assets/circle-check.svg" alt="">
                        <p>Service 1</p>
                    </div>
                    <div class="service">
                        <img src="../../../../../../assets/circle-check.svg" alt="">
                        <p>Service 1</p>
                    </div>
                </div>
            </div>
            <div class="col-1 payment">
                <h6>Payment Methods</h6>
                <p>MTN</p>
                <p>Paypal</p>
                <p>Bank Transfer</p>
            </div>
        </div>
    </section>
</div>