<div class="container">
    <h2>Esthera Agent</h2>
  
    <section class="col-1">
      <figure class="profile-ratings">
        <img src="../../../../../../assets/images/Avatar.png" alt="service's picture">
        <figcaption class="details">
          <h4>Esthera Agent</h4>
          <div class="ratings">
            <p>Exceptional 5.0</p>
            <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />
            <p class="rate">(4.5)</p>
          </div>
        </figcaption>
      </figure>
      <div class="actions">
        <button class="btn btn-primary" aria-label="Request a Quote from Esthera Jackson">Request Quote</button>
        <button class="btn btn-secondary" aria-label="Request a Call from Esthera Jackson">Request Call</button>
      </div>
    </section>
  
    <section class="col-2">
      <h3>Introduction</h3>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat 
        sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor 
        do amet sint. Velit officia consequat duis enim velit mollit. Exercitation 
        veniam consequat sunt nostrud amet.
      </p>
    </section>
  </div>
  