@use '../../../../../styles/_functions' as *
@use '../../../../../styles/_mixins' as *
@use '../../../../../styles/_variables' as *

.card
    @include card()
    padding: 20px
    gap: 20px

    .header
        @include flex-option($display: flex, $justify-content: space-between, $align-items: center, $direction: row)
        gap: 32px