@use '../../../../../styles/_functions' as *
@use '../../../../../styles/_mixins' as *
@use '../../../../../styles/_variables' as *

.basic-info
    @include flex-option(flex , null , null ,row )
    height: 100vh
    overflow: hidden

    .menu
        flex:1

    .info
        flex:1        
    