<section class="content">
  <h1 class="page-title">Settings</h1>

  <p-tabView>
    <p-tabPanel header="Account Info"></p-tabPanel>
    <p-tabPanel header="Basic Info">
      <div class="tab-content">
        <app-pro-basic-info />
      </div>
    </p-tabPanel>
    <p-tabPanel header="About Business">
      <div class="tab-content">
        <app-pro-about-business />
      </div>
    </p-tabPanel>
    <p-tabPanel header="Service Preference"> </p-tabPanel>
    <p-tabPanel header="Service Experience"> </p-tabPanel>
  </p-tabView>
</section>
