@if (provider) {

    <div class="card">
        <img [src]="businessImage ? businessImage : defaultImage" alt="service image">
    
        <div class="info">
            <div class="col">
                <div class="col-1">
                    <div class="col-1-1">
                        <i class="pi pi-shield" style="color: #408EFD"></i>
                        Top Pro
                    </div>
                    <div class="col-1-1">
                        <i class="pi pi-map-marker" style="color: #408EFD"></i>
                        {{provider.placeName}}
                    </div>
                    <div class="col-1-1">
                        <i class="pi pi-trophy" style="color: #408EFD"></i>
                        7 hires
                    </div>
                </div>
    
                <p class="name">{{businessName}}</p>
    
                <div class="col-2">
                    @if (analytics) {
                        <p>Exceptional 5.0</p>
                        <p-rating [(ngModel)]="analytics.averageRating" [readonly]="true" [cancel]="false" />
                        <p class="rate">({{analytics.averageRating}})</p>
                    }
                </div>
            </div>
    
            <p>{{provider.serviceExperience.description}}</p>
        </div>
    
        <button (click)="viewProfile()" type="button">View Profile</button>
    </div>
}
