@if (provider) {

    <div class="card">
        <img [src]="provider.service.image" alt="service image">
    
        <div class="info">
            <div class="col">
                <div class="col-1">
                    <div class="col-1-1">
                        <mat-icon svgIcon="shield"></mat-icon>
                        Top Pro
                    </div>
                    <div class="col-1-1">
                        <mat-icon svgIcon="map-pin"></mat-icon>
                        {{provider.placeName}}
                    </div>
                    <div class="col-1-1">
                        <mat-icon svgIcon="trophy"></mat-icon>
                        7 hires
                    </div>
                </div>
    
                <p class="name">{{provider.service.name}}</p>
    
                <div class="col-2">
                    <p>Exceptional 5.0</p>
                    <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />
                    <p class="rate">(4.5)</p>
                </div>
            </div>
    
            <p>{{provider.service.description}}</p>
        </div>
    
        <button (click)="viewProfile()" type="button">View Profile</button>
    </div>
}
