<div class="table">
  <p-table
    [paginator]="true"
    [rows]="10"
    [value]="calls"
    [(ngModel)]="selectedDate"
    (change)="filterByDate()"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>CLIENT NAME</th>
        <th>PHONE NUMBER</th>
        <th>EMAIL</th>
        <th>STATUS</th>
        <th>ACTIONS</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-call>
      <tr>
        <td>{{ call.clientName }}</td>
        <td>{{ call.phoneNumber }}</td>
        <td>{{ call.clientEmail }}</td>
        <td>{{ call.requestDate }}</td>
        <td>
          <span class="status-label" [ngClass]="call.status | lowercase">
            <i class="status-icon"></i>
            {{ call.status }}
          </span>
        </td>
        <td>
          <div class="action-container" (click)="$event.stopPropagation()">
            <button (click)="toggleMenu(call)">
              <i class="pi pi-ellipsis-v" style="color: rgba(119, 135, 143, 1)"></i>
            </button>
            <div class="menu" *ngIf="activeCall === call">
              <ul>
                @for (status of statuses; track status) {
                  <li (click)="updateStatus(call, status)">
                    {{ status }}
                  </li>
                }
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>