@use '../../../../../styles/_functions' as *
@use '../../../../../styles/_mixins' as *
@use '../../../../../styles/_variables' as *

.card
    // width: 262px
    @include card()
    gap: 16px
    
    .top
        @include flex-option($display: flex, $justify-content: space-between, $align-items: center, $direction: null)

    .stats
        @include flex-option($display: flex, $justify-content: null, $align-items: null, $direction: null)
        gap: 10px

        h4
            font-size: 16px
            font-weight: 500
            color: $text-main

        .stat-chip
            font-size: 8px
            @include flex-option($display: flex, $justify-content: null, $align-items: center, $direction: null)
            gap: 5px
            border-radius: 6px

        .increase
            color: #2BBFAE
            background-color: rgba(231, 248, 246, 1)
            padding: 3px 5px

        .decrease
            color: rgba(245, 79, 108, 1)
            background-color: rgba(254, 236, 239, 1)
            padding: 3px 5px


    .type
        @include flex-option($display: flex, $justify-content: null, $align-items: center, $direction: null)
        gap: 5px

        .icon
            background-color: $background-blue
            padding: 8px
            border-radius: 5px
            @include flex-option($display: flex, $justify-content: center, $align-items: center, $direction: null)

            img
                width: 20px
                height: 20px

        .title
            font-size: 14px
            font-weight: 500
            color: $text-main

    