<div class="container">
  <h3>Service Experience</h3>
  <p>Tell us more about yourself</p>
  <form
    [formGroup]="experienceForm"
    (ngSubmit)="onSubmit()"
    class="service-experience-form"
  >
    <div>
      <label for="location">Title of project*</label>
      <input
        type="text"
        pInputText
        formControlName="projectTitle"
        placeholder="Enter the title of your project"
      />
      <!-- <p
        class="error-message"
        *ngIf="
          servicePreferenceForm.get('location')?.touched &&
          servicePreferenceForm.get('location')?.invalid
        "
      >
        Location is required.
      </p> -->
    </div>
    <div>
      <label for="description">Description*</label>
      <textarea
        rows="5"
        pInputTextarea
        formControlName="description"
        placeholder="Give a description of your project"
      ></textarea>
    </div>
    <div class="image-upload">
      <label>Upload some pictures from the project</label>
      <app-image-uploader (uploadedImages)="onImageUploaded($event)" />
    </div>
    <div class="form-actions">
      <button type="button" class="back-btn">Back</button>
      <button
        type="submit"
        class="continue-btn"
        [disabled]="experienceForm.invalid"
      >
        Continue
      </button>
    </div>
  </form>
</div>
