<div class="container">
    <h3>Service Experience</h3>
    <p>Tell us more about yourself</p>
    <form >
        <app-fields label="Title of Project*" placeholder="Enter the title of your project"/>
        <div class="input-field">
            <label for="description">Description*</label>
            <textarea name="description" id="description"></textarea>
        </div>
        <app-fields type="file" accept="image/*"/>
        <div class="form-actions">
            <button type="button" class="back-btn">Back</button>
            <button type="submit" class="continue-btn">Continue</button>
        </div>
    </form>
</div>