<div class="content">
    <div class="logo">
        <img src="assets/svgs/Logo.svg" alt="logo">
    </div>

    <div class="role-selection">
        <h6>Select Your Role</h6>
        <p>Select a role and continue to sign up</p>

        <div class="role-options">
            <div 
                class="client-role" 
                [ngClass]="{ 'selected': selectedRole === 'client' }"
                (click)="selectRole('client')">
                <div class="icon">
                    <img src="assets/svgs/client.svg" alt="icon">
                </div>
                <div class="description">
                    <span>Client</span>
                    <p>Get experts solution to your problems</p>
                </div>
            </div>

            <div 
                class="provider-option" 
                [ngClass]="{ 'selected': selectedRole === 'provider' }"
                (click)="selectRole('provider')">
                <div class="icon">
                    <img src="assets/svgs/provider.svg" alt="icon">
                </div>
                <div class="description">
                    <span>Provider</span>
                    <p>Render your services to our clients</p>
                </div>
            </div>
        </div>

        <div class="btn-text">
            <button 
                class="btn-continue" 
                [routerLink]="selectedRole === 'client' ? '/client-signup' : selectedRole === 'provider' ? '/pro-signup' : null" 
                [disabled]="!selectedRole">
                Continue
            </button>
            <p>Already have an account? <a [routerLink]="['/login']">Sign in</a></p>
        </div>
    </div>
</div>
