@use '../../../../../styles/_functions' as *
@use '../../../../../styles/_variables' as *
@use '../../../../../styles/_mixins' as *

.content
    .role-selection
        @include flex-option(flex, null, null, column)
        margin-top: pxToRem(20)
        padding: pxToRem(70) pxToRem(90)
        
        h6
            font-size: pxToRem(30)

        p
            font-size: pxToRem(14)
            color: $subtext
            margin-top: pxToRem(8)

    .role-options
        margin-top: pxToRem(32)
        @include flex-option(flex, null, null, column)
        gap: pxToRem(28)


        .client-role, .provider-option
            @include flex-option(flex, null, center, row)
            gap: pxToRem(10)
            padding: pxToRem(5) pxToRem(5)
            cursor: pointer

            
            &.selected
                border: 1px solid $primary
                

            .icon
                img
                    max-width: 100%
                    height: auto

            .description
                span
                    font-size: pxToRem(16)
                    font-weight: 600

                p
                    font-size: pxToRem(14)
                    font-weight: 400
                    color: #252C32

    .btn-text
        @include flex-option(flex, null, null, column)
        margin-top: pxToRem(32)
        gap: pxToRem(16)

        .btn-continue
            padding: pxToRem(16) pxToRem(90)
            background-color: $primary
            border: none
            border-radius: pxToRem(8)
            font-size: pxToRem(14)
            font-weight: 500
            color: $white
            text-transform: uppercase
            cursor: pointer

        p
            font-size: pxToRem(16)
            color: $subtext
            text-align: center

            a
                color: $primary
                font-size: pxToRem(14)
                font-weight: 500
                text-transform: uppercase
                text-decoration: none
                cursor: pointer
