
<div class="content">
    <div class="logo">
        <img src="assets/svgs/Logo.svg" alt="logo">
    </div>

    <div class="role-selection">
        <h6>Select Your Role</h6>
        <p>Select a role and continue to sign up</p>

        <div class="role-options">
             <div class="client-role">
                <div class="icon"></div>
                <div class="description">
                    <span>Client</span>
                    <p>Get experts solution to your problems</p>
                </div>
             </div>

             <div class="provider-option">
                <div class="icon"></div>
                <div class="description">
                    <span>Provider</span>
                    <p>Render your services to our clients</p>
                </div>
             </div>
        </div>
    </div>
    <button class="btn-continue">Continue</button>

    <p>Already have an account? <a>Sign in</a></p>


</div>