<div class="container">
    <div class="content">
        <div class="col-1">
            <h3>Our Customer Feedback</h3>
            <p>Don’t take our word for it. Trust our customers</p>
        </div>
        <div class="actions">
            <button (click)="previousPage()" [disabled]="currentPage === 0"> 
                <i class="pi pi-angle-left" style="color: #A1BDFC;"></i>
                Previous 
            </button>
            <button [disabled]="(currentPage + 1) * reviewsPerPage >= reviews.length">Next 
                <i class="pi pi-angle-right" style="color: #2563EB;" (click)="nextPage()"></i>
            </button>
        </div>
    </div>

    <div class="testimonies">
        <div class="cards">
            @if (reviews) {
                @for (review of displayedReviews; track $index) {
                    <div class="card">
                        <div class="rating">
                            <img [src]="review.authorInfo?.profileImage ? review.authorInfo?.profileImage : defaultImage" alt="profile image">
                            <p-rating [(ngModel)]="review.rating" [readonly]="true" [cancel]="false" />
                        </div>
                        <h6>{{review.authorInfo?.userName}}</h6>
                        <p>{{review.content}}</p>
                    </div>
                }
            }
        </div>
        
        <div class="ellipses">
            <span *ngFor="let _ of displayedReviews; index as i" [class.active]="i === currentPage" class="ellipse"></span>
        </div>
    </div>


</div>