<div class="container">
    <div class="content">
        <div class="col-1">
            <h3>Our Customer Feedback</h3>
            <p>Don’t take our word for it. Trust our customers</p>
        </div>
        <div class="actions">
            <button> 
                <mat-icon svgIcon="arrow-left"></mat-icon>
                Previous 
            </button>
            <button>Next 
                <mat-icon svgIcon="arrow-right-feedback"></mat-icon>
            </button>
        </div>
    </div>

    <div class="testimonies">
        <div class="cards">
            <div class="card">
                <div class="rating">
                    <img src="../../../../../assets/images/profile.png" alt="profile image">
                    <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />

                </div>
                <h6>Floyd Miles</h6>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
                    Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia con... 
                </p>
            </div>
            <div class="card">
                <div class="rating">
                    <img src="../../../../../assets/images/profile.png" alt="profile image">
                    <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />

                </div>
                <h6>Floyd Miles</h6>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
                    Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia con... 
                </p>
            </div>
            <div class="card">
                <div class="rating">
                    <img src="../../../../../assets/images/profile.png" alt="profile image">
                    <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />

                </div>
                <h6>Floyd Miles</h6>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
                    Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia con... 
                </p>
            </div>
        </div>
        
        <div class="ellipses">
            <span class="ellipse active"></span>
            <span class="ellipse"></span>
            <span class="ellipse"></span>
        </div>
    </div>


</div>