@use '../../../../../styles/_functions' as *
@use '../../../../../styles/_mixins' as *
@use '../../../../../styles/_typography' as *
@use '../../../../../styles/_variables' as *

.container
    background-color: $white
    @include flex-column($gap: 12rem)
    padding: pxToRem(24) pxToRem(52)
    border: 2px solid $grey-lighten-0
    border-radius: 10px
    width: 100%