<div class="container">

    <div class="password-container">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <!-- old password -->
                <div class="input-field">
                    <label for="old-password">Old Password</label>
                    <input type="password" name="old-password" id="old-password"
                     placeholder="***********" formControlName="oldPassword"
                     autocomplete="current-password"
                     >
                
                    @if (changePasswordForm.get('oldPassword')?.invalid && 
                    (changePasswordForm.get('oldPassword')?.touched || 
                     changePasswordForm.get('oldPassword')?.dirty)) {
                        @if (changePasswordForm.get('oldPassword')?.hasError('required') ||
                        changePasswordForm.get('oldPassword')?.hasError('sameAsNewPassword')) {
                            <p>Old password is required</p>
                        }
                     }
                </div>
    
                <!-- new password -->
                <div class="input-field">
                    <label for="new-password">New Password</label>
                    <input type="password" name="new-password" id="new-password"
                     placeholder="***********" formControlName="newPassword"
                     autocomplete="new-password">

                    @if (changePasswordForm.get('newPassword')?.invalid &&
                    (changePasswordForm.get('newPassword')?.touched || 
                    changePasswordForm.get('newPassword')?.dirty)) {
                        @if (changePasswordForm.get('newPassword')?.errors?.['minlength'] || 
                        changePasswordForm.get('newPassword')?.errors?.['invalidPassword']) {
                            <p>Pass structure</p>
                        }
                    }
                </div>
    
                <!-- confirm password -->
                <div class="input-field">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm-password" id="confirm-password"
                     placeholder="***********" formControlName="confirmPassword"
                     autocomplete="new-password">

                     @if (changePasswordForm.errors?.['mismatch'] && 
                     (changePasswordForm.get('confirmPassword')?.touched || 
                      changePasswordForm.get('confirmPassword')?.dirty)) {
                        <p>Password mismatch</p>
                     }
                </div>
            </div>

            <!-- form actions -->
             <div class="form-actions">
                <button type="submit" class="cancel-btn">Cancel</button>
                <button type="submit" class="save-changes-btn" [disabled]="changePasswordForm.invalid">Saves Changes</button>
             </div>
        </form>
    </div>
</div>