<div class="container">
    <div class="password-container">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

            <div class="input-group">

                <div class="input-field">
                    <app-password-input type="password"
                        label="Old Password"
                        imgPath="../../../../../assets/password-lock.svg"
                        field="oldPassword"
                        placeholder="Old Password"
                        formControlName="oldPassword"
                        autocomplete="current-password"
                        [error]="(changePasswordForm.get('oldPassword')?.invalid &&
                        (changePasswordForm.get('oldPassword')?.touched || 
                        changePasswordForm.get('oldPassword')?.dirty))"/>

                    @if (changePasswordForm.get('oldPassword')?.invalid && 
                    (changePasswordForm.get('oldPassword')?.touched || 
                     changePasswordForm.get('oldPassword')?.dirty)) {
                        @if (changePasswordForm.get('oldPassword')?.hasError('required') ||
                        changePasswordForm.get('oldPassword')?.hasError('sameAsNewPassword')) {
                            <small class="error">Old password is required</small>
                        }
                     }
                </div>
    
                <div class="input-field">
                    <app-password-input type="password"
                        label="New Password"
                        imgPath="../../../../../assets/password-lock.svg"
                        field="newPassword"
                        placeholder="New Password"
                        formControlName="newPassword"
                        autocomplete="new-password"
                        [error]="(changePasswordForm.get('newPassword')?.invalid &&
                        (changePasswordForm.get('newPassword')?.touched || 
                        changePasswordForm.get('newPassword')?.dirty))"/>

                    @if (changePasswordForm.get('newPassword')?.invalid &&
                        (changePasswordForm.get('newPassword')?.touched || 
                        changePasswordForm.get('newPassword')?.dirty)) {
                            @if (changePasswordForm.get('newPassword')?.errors?.['minlength'] || 
                            changePasswordForm.get('newPassword')?.errors?.['invalidPassword']) {
                                <small class="error">Password must be at least 12 characters including uppercase, lowercase, number and special character</small>
                            }
                        }
                </div>
    
                <div class="input-field">
                    <app-password-input type="password"
                        label="Confirm Password"
                        imgPath="../../../../../assets/password-lock.svg"
                        field="confirmPassword"
                        placeholder="Confirm Password"
                        formControlName="confirmPassword"
                        autocomplete="new-password"
                        [error]="(changePasswordForm.errors?.['mismatch'] && 
                        (changePasswordForm.get('confirmPassword')?.touched || 
                         changePasswordForm.get('confirmPassword')?.dirty))"/>

                    @if (changePasswordForm.errors?.['mismatch'] && 
                    (changePasswordForm.get('confirmPassword')?.touched || 
                     changePasswordForm.get('confirmPassword')?.dirty)) {
                       <small class="error">Password mismatch</small>
                   }
                </div>
            </div>

             <div class="form-actions">
                <button type="submit" class="cancel-btn">Cancel</button>
                <button type="submit" class="save-changes-btn" [disabled]="changePasswordForm.invalid">Saves Changes</button>
             </div>
        </form>
    </div>
</div>