<div class="container">
    <div class="password-container">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

            <div class="input-group">

                <div class="input-field">
                    <label for="old-password">Old Password</label>
                    <div class="input-item">
                        <img src="../../../../../assets/password-lock.svg" alt="lock icon">
                        
                        <input type="password" name="old-password" id="old-password"
                         formControlName="oldPassword"
                         placeholder="Old Password"
                         autocomplete="current-password"
                         [type]="oldPasswordVisible ? 'text': 'password'"
                        >

                        <img 
                            [src]="oldPasswordVisible ? '../../../../../assets/visible.svg' : '../../../../../assets/invisible.svg'" 
                            alt="eye toggle" 
                            (click)="togglePasswordVisibility('oldPassword')">
                    </div>

                    @if (changePasswordForm.get('oldPassword')?.invalid && 
                    (changePasswordForm.get('oldPassword')?.touched || 
                     changePasswordForm.get('oldPassword')?.dirty)) {
                        @if (changePasswordForm.get('oldPassword')?.hasError('required') ||
                        changePasswordForm.get('oldPassword')?.hasError('sameAsNewPassword')) {
                            <small class="error">Old password is required</small>
                        }
                     }
                </div>
    
                <div class="input-field">
                    <label for="new-password">New Password</label>

                    <div class="input-item">
                        <img src="../../../../../assets/password-lock.svg" alt="lock icon">

                        <input type="password" name="new-password" id="new-password"
                         formControlName="newPassword"
                         placeholder="New Password"
                         autocomplete="new-password"
                         [type]="newPasswordVisible ? 'text': 'password'">

                        
                         <img 
                         [src]="newPasswordVisible ? '../../../../../assets/visible.svg' : '../../../../../assets/invisible.svg'" 
                         alt="eye toggle" 
                         (click)="togglePasswordVisibility('newPassword')">
                       
                    </div>

                    @if (changePasswordForm.get('newPassword')?.invalid &&
                        (changePasswordForm.get('newPassword')?.touched || 
                        changePasswordForm.get('newPassword')?.dirty)) {
                            @if (changePasswordForm.get('newPassword')?.errors?.['minlength'] || 
                            changePasswordForm.get('newPassword')?.errors?.['invalidPassword']) {
                                <small class="error">Password must be at least 12 characters including uppercase, lowercase, number and special character</small>
                            }
                        }
                </div>
    
                <div class="input-field">
                    <label for="confirm-password">Confirm Password</label>
                    <div class="input-item">
                        <img src="../../../../../assets/password-lock.svg" alt="lock icon">

                        <input type="password" name="confirm-password" id="confirm-password"
                         formControlName="confirmPassword"
                         placeholder="Confirm Password"
                         autocomplete="new-password"
                         [type]="confirmPasswordVisible ? 'text': 'password'">

                         <img 
                         [src]="confirmPasswordVisible ? '../../../../../assets/visible.svg' : '../../../../../assets/invisible.svg'" 
                         alt="eye toggle" 
                         (click)="togglePasswordVisibility('confirmPassword')">
                       

                    </div>

                    @if (changePasswordForm.errors?.['mismatch'] && 
                    (changePasswordForm.get('confirmPassword')?.touched || 
                     changePasswordForm.get('confirmPassword')?.dirty)) {
                       <small class="error">Password mismatch</small>
                   }
                </div>
            </div>

             <div class="form-actions">
                <button type="submit" class="cancel-btn">Cancel</button>
                <button type="submit" class="save-changes-btn" [disabled]="changePasswordForm.invalid">Saves Changes</button>
             </div>
        </form>
    </div>
</div>