<div class="container">
    <div class="header">
        <h3>Frequently asked questions</h3>
        <p>Everything you need to know about the product and billing.</p>
    </div>

    <div class="faqs">
        <p-accordion [multiple]="true" [activeIndex]="[0]">
            @if (faqs | async; as faqs) {
                @for (faq of faqs | slice:0:8; track $index) {
                    <p-accordionTab header="{{ faq.question }}">
                        <p>{{ faq.answer }}</p>
                    </p-accordionTab>
                }
            }
        </p-accordion>
    </div>

    <div class="questions">
        <img src="../../../../../assets/images/avatar-group.png" alt="avatar group">

        <div class="info">
            <h6>Still have questions?</h6>
            <p>Can’t find the answer you’re looking for? Please chat to our friendly team.</p>
        </div>

        <button>Get in touch</button>
    </div>
</div>