<div class="delete-container">
    <div class="main">
        <div class="header">
            <!-- title -->
            <p class="title">Delete Profile</p>

            <!-- svg -->
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="onCancel()">
                <g id="Regular/X">
                <path id="Vector" d="M18.957 5.25073L5.45703 18.7507" stroke="#191C1F" stroke-width="1.60578" stroke-linecap="round" stroke-linejoin="round"/>
                <path id="Vector_2" d="M18.957 18.7507L5.45703 5.25073" stroke="#191C1F" stroke-width="1.60578" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                </svg>
        </div>

        <div class="message">
            <p class="message">Are you sure you want to delete this profile? This action cannot be undone.</p>
        </div>
    </div>

    <div class="delete-actions">
        <button type="submit" class="btn cancel" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn delete" (click)="onConfirm()">Delete</button>
    </div>
</div>
