@mixin flex-row($display, $position, $align)
    display: $display
    justify-content: $position
    align-items: $align

@mixin flex-column($gap)
    display: flex
    flex-direction: column
    gap: $gap
    
    