
<div class="basic-profile">
    <div class="inst">
        <p>Basic Information</p>
        <span>Lets’ get your business information and get your business up and running.</span>
    </div>
   <form  [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <app-profile-update class="profile-update"/>
    <app-fields
    label="Business Name"
    type="text"
    placeholder="Enter your business name"
    formControlName="userName"
    [readOnly]="true"
    />

    <app-fields
    label="Business Owner's Name"
    type="text"
    placeholder="Enter your full name"
    formControlName="businessOwnerName"
    [error]="registrationForm.get('businessOwnerName')?.invalid && (registrationForm.get('businessOwnerName')?.dirty || registrationForm.get('businessOwnerName')?.touched)"
    />
    <div class="error-message" *ngIf="registrationForm.get('businessOwnerName')?.invalid && (registrationForm.get('businessOwnerName')?.dirty || registrationForm.get('businessOwnerName')?.touched)">
       Business Owner's name is required
      </div>
    
    <app-fields
    label="Business Email"
    type="text"
    placeholder="Enter your email "
    formControlName="email"
    [readOnly]="true"
    />
    <app-fields
    label="Phone Number"
    type="text"
    placeholder="Enter your mobile number"
    formControlName="mobileNumber"
    [error]=" registrationForm.get('phoneNumber')?.invalid && (registrationForm.get('phoneNumber')?.dirty || registrationForm.get('phoneNumber')?.touched)"
    />
    <div class="error-message" *ngIf="registrationForm.get('phoneNumber')?.invalid && (registrationForm.get('phoneNumber')?.dirty || registrationForm.get('phoneNumber')?.touched)">
       Phone number is required
      </div>
      <div class="address">
         <label>Business Address</label>
         <app-business-address
         class="location"
         formControlName="businessAddress"
         [ngClass]="{
            'invalid': registrationForm.get('businessAddress')?.invalid && 
                       (registrationForm.get('businessAddress')?.dirty || 
                        registrationForm.get('businessAddress')?.touched)
          }"
         />
      </div>
    <div class="error-message" *ngIf="registrationForm.get('businessAddress')?.invalid && (registrationForm.get('businessAddress')?.dirty || registrationForm.get('businessAddress')?.touched)">
       Business Address is required
      </div>
    <button class="continue" type="submit"  [routerLink]="['/registration/about-business']">Continue</button>
    
   </form>

  
</div>