
<div class="basic-profile">
    <div class="inst">
        <p>Basic Information</p>
        <span>Lets’ get your business information and get your business up and running.</span>
    </div>

    <div class="pro">
        <div class="pro-img"></div>

        <div class="upload">
            <p>Click to update or remove  your 
                profile picture</p>

                <div class="actons">
                    <button>Upload</button>
                    <button>Remove</button>
                </div>
        </div>

    </div>

  
</div>