
<div class="basic-profile">
    <div class="inst">
        <p>Basic Information</p>
        <span>Lets’ get your business information and get your business up and running.</span>
    </div>

   <app-profile-update class="profile-update"/>

   <form>
    <app-fields
    label="Business Name*"
    type="text"
    placeholder="Enter your business name"
    />

    <app-fields
    label="Business Owner's Name*"
    type="text"
    placeholder="Enter your full name"
    />
    <app-fields
    label="Business Email*"
    type="text"
    placeholder="Enter your email "
    />
    <app-fields
    label="Phone Number*"
    type="text"
    placeholder="Enter your mobile number "
    />
    <app-fields
    label="Business Address*"
    type="text"
    placeholder="Enter your address "
    />

    <button class="continue">Continue</button>
    
   </form>

  
</div>