@use '../../../../../styles/_functions' as *
@use '../../../../../styles/_mixins' as *
@use '../../../../../styles/_variables' as *
.services
    padding: pxToRem(40) pxToRem(135)
    height: 100vh
    overflow-y: auto
    scrollbar-width: none
    p
        font-size: pxToRem(30)
        font-weight: 600
        color: $text-main
    span
        font-size: pxToRem(14)
        font-weight: 400
        color: $text-secondary