<form
  [formGroup]="serviceForm"
  class="service-creation-form"
  (ngSubmit)="onSubmit()"
>
  <div class="section-one">
    <div>
      <label for="jobTitle">What service do you offer?</label>
      @if (serviceCategories$ | async; as serviceCategories) {
      <p-dropdown
        id="service"
        formControlName="serviceName"
        [options]="serviceCategories"
        optionLabel="name"
        placeholder="Please choose"
      />
      }
    </div>
    <div>
      <label for="accountPreference">Account Preference</label>
      <p-dropdown
        id="accountPreference"
        formControlName="accountPreference"
        [options]="accountPreferences"
        optionLabel="name"
        placeholder="Please choose"
      />
    </div>
  </div>
  <div class="section-booking">
    <div formArrayName="bookingDays" class="bookingFields">
      <div
        *ngFor="let bookingDay of bookingDaysFormArray.controls; let i = index"
        class="booking"
        [formGroupName]="i"
      >
        <div class="day">
          <label for="bookingDay-{{ i }}">Booking Day</label>
          <p-dropdown
            id="bookingDay-{{ i }}"
            formControlName="dayOfWeek"
            [options]="days"
            optionLabel="name"
            placeholder="Please choose"
          />
          <p
            class="error-message"
            *ngIf="
              bookingDay.get('dayOfWeek')?.touched &&
              bookingDay.get('dayOfWeek')?.invalid
            "
          >
            Booking day is required.
          </p>
        </div>
        <div class="bookingTimes">
          <div>
            <label for="startTime-{{ i }}">From</label>
            <p-dropdown
              id="startTime-{{ i }}"
              formControlName="startTime"
              [options]="timeOptions"
              optionLabel="name"
              placeholder="00:00"
            />
            <p
              class="error-message"
              *ngIf="
                bookingDay.get('startTime')?.touched &&
                bookingDay.get('startTime')?.invalid
              "
            >
              Start time is required.
            </p>
          </div>
          <div>
            <label for="endTime-{{ i }}">To</label>
            <p-dropdown
              id="endTime-{{ i }}"
              formControlName="endTime"
              [options]="timeOptions"
              optionLabel="name"
              placeholder="00:00"
            />
            <p
              class="error-message"
              *ngIf="
                bookingDay.get('endTime')?.touched &&
                bookingDay.get('endTime')?.invalid
              "
            >
              End time is required.
            </p>
          </div>
        </div>
        <button
          class="remove-booking-day"
          (click)="removeBookingDay(i)"
          *ngIf="bookingDaysFormArray.length > 1"
        >
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.59612 0.517578C4.35481 0.517578 0.118164 4.75422 0.118164 9.99553C0.118164 15.2368 4.35481 19.4735 9.59612 19.4735C14.8374 19.4735 19.0741 15.2368 19.0741 9.99553C19.0741 4.75422 14.8374 0.517578 9.59612 0.517578ZM9.59612 17.5779C5.41634 17.5779 2.01376 14.1753 2.01376 9.99553C2.01376 5.81576 5.41634 2.41317 9.59612 2.41317C13.7759 2.41317 17.1785 5.81576 17.1785 9.99553C17.1785 14.1753 13.7759 17.5779 9.59612 17.5779ZM12.9987 5.25656L9.59612 8.65914L6.19353 5.25656L4.85714 6.59295L8.25973 9.99553L4.85714 13.3981L6.19353 14.7345L9.59612 11.3319L12.9987 14.7345L14.3351 13.3981L10.9325 9.99553L14.3351 6.59295L12.9987 5.25656Z"
              fill="#E1571D"
            />
          </svg>
        </button>
      </div>
    </div>
    <button type="button" (click)="addBookingDay()" class="add-booking-day">
      + Add Booking Day
    </button>
  </div>
  <!--Top Section-->

  <div class="same-location">
    <label for="sameLocation"
      >Is this service in the same location as your business?</label
    >
    <p-dropdown
      id="sameLocation"
      [options]="[
        { name: 'Yes', value: true },
        { name: 'No', value: false }
      ]"
      optionLabel="name"
      placeholder="Please choose"
      (onChange)="setSameLocation($event)"
    />
  </div>

  @if(!isSameLocation) {
  <div class="location">
    <label for="location">Location</label>
    <app-locations
      [atHome]="false"
      (placeSelected)="onLocationSelected($event)"
    />
  </div>
  }

  <div class="section-two">
    <div class="documents-upload">
      <label for="businessCertificate"
        >Upload Business Certificate (Optional)</label
      >
      <app-file-uploader (filesSelected)="onFilesSelected($event)" />
    </div>
  </div>
  <div class="section-four">
    <div>
      <label for="schedulingPolicy">Scheduling Policy (Optional)</label>
      <textarea
        rows="5"
        pInputTextarea
        formControlName="schedulingPolicy"
        placeholder="Please enter your scheduling policy"
      >
      </textarea>
    </div>
  </div>

  <section class="experience">
    <h1 class="section-title">Service Experience</h1>

    <div class="project">
      <label for="projectTitle">Title of Project</label>
      <input
        type="text"
        pInputText
        formControlName="projectTitle"
        placeholder="Enter the title of your project"
      />
    </div>
    <div class="section-three">
      <div>
        <label for="serviceDescription">Service Description</label>
        <textarea
          rows="5"
          pInputTextarea
          formControlName="serviceDescription"
          placeholder="Please describe your service"
        >
        </textarea>
      </div>
    </div>

    <div class="section-five">
      <div>
        <label for="">Upload some pictures from the project</label>
        <app-image-uploader (uploadedImages)="onImagesUploaded($event)" />
      </div>
    </div>
  </section>

  <div class="buttons">
    <p-button (click)="closeDialog()" label="Cancel" severity="secondary" />
    <p-button type="submit" label="Create" class="primary" />
  </div>
</form>
