@use '../../../../../styles/_functions' as *
@use '../../../../../styles/_mixins' as *
@use '../../../../../styles/_variables' as *

form
    width: 874px
    @include flex-option($display: flex, $justify-content: space-between, $align-items: null, $direction: column)
    gap: 16px

    .section-one, .section-two, .section-five, .section-booking
        @include flex-option($display: flex, $justify-content: null, $align-items: null, $direction: row)

    .section-one, .section-booking
        gap: 32px

        div
            flex: 1

        input
            width: 100%
    
    .section-booking
        .bookingTimes
            @include flex-option($display: flex, $justify-content: null, $align-items: center, $direction: row)
            gap: 32px

    .section-two
        width: 100%

    .section-five
        div
            width: 100%

    label
        display: block
        font-size: 14px
        font-weight: 500
        margin: 0 0 8px 0
        color: $text-main

.p-inputtext
    padding: 12px 14px
