<form [formGroup]="serviceForm" class="service-creation-form">
  <div class="section-one">
    <div>
      <label for="jobTitle">What service(s) do you offer?</label>
      <input
        type="text"
        pInputText
        formControlName="jobTitle"
        placeholder="Enter job title"
      />
    </div>
    <div>
      <label for="accountPreference">Account Preference</label>
      <p-dropdown
        id="accountPreference"
        formControlName="accountPreference"
        [options]="accountPreferences"
        optionLabel="name"
        placeholder="Please choose"
      />
    </div>
  </div>
  <div class="section-booking">
    <div>
      <label for="bookingDays">Booking Days</label>
      <p-dropdown
        id="bookingDays"
        formControlName="bookingDays"
        [options]=""
        optionLabel="name"
        placeholder="Please choose"
      />
    </div>
    <div class="bookingTimes">
      <div>
        <label for="from">From</label>
        <p-dropdown
          formControlName="bookingTimeFrom"
          [options]=""
          optionLabel="name"
          placeholder="00:00"
        />
      </div>
      <div>
        <label for="to">To</label>
        <p-dropdown
          formControlName="bookingTimeTo"
          [options]=""
          optionLabel="name"
          placeholder="00:00"
        />
      </div>
    </div>
  </div>
  <!--Top Section-->
  <div class="section-two">
    <div>
      <label for="businessCertificate"
        >Upload Business Certificate (Optional)</label
      >
      <app-file-uploader />
    </div>
  </div>

  <div class="section-three">
    <div>
      <label for="serviceDescription">Service Description</label>
      <textarea
        rows="5"
        pInputTextarea
        formControlName="serviceDescription"
        placeholder="Please describe your service"
      >
      </textarea>
    </div>
  </div>
  <div class="section-four">
    <div>
      <label for="schedulingPolicy">Scheduling Policy (Optional)</label>
      <textarea
        rows="5"
        pInputTextarea
        formControlName="schedulingPolicy"
        placeholder="Please enter your scheduling policy"
      >
      </textarea>
    </div>
  </div>
  <div class="section-five">
    <div>
      <label for="">Upload some pictures from the project</label>
      <app-image-uploader />
    </div>
  </div>
</form>
