<div class="container">

    <div class="profile-container">

        <form class="image-container">
            <div class="image">
                <img [src]="imageUrl || '../../../../../assets/images/Avatar.png'" alt="user's profile image">
                <div class="overlay" (click)="triggerFileInput()">
                    <mat-icon svgIcon="uploads" aria-hidden="false" aria-label="upload icon"></mat-icon>
                    <span class="overlay-text">Upload Image</span>
                </div>
            </div>

            <input 
                type="file" 
                id="file" 
                class="file-input" 
                accept="image/*" 
                (change)="onFileSelected($event)">

            <div class="info">
                <p>Click to update or remove  your profile picture</p>

                <div class="info-actions">
                    <button type="submit" class="upload-btn">
                        <mat-icon svgIcon="upload" aria-hidden="false" aria-label="upload icon"></mat-icon>
                        Upload
                    </button>
        
                    <input type="file" name="file" id="file" class="file-input" accept="image/*">
                    <button class="delete-btn" (click)="openDialog()">
                        <img src="../../../../../assets/Cancel.svg" alt="cancel icon">
                        Delete
                    </button>
                </div>
            </div>
        </form>
    
        <div class="info-container">
            <form >
                <div class="input-field">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Esthera Jackson" [readOnly]="!isFormActive">
                </div>

                <div class="input-field">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="whitney419@gmail.com" [readOnly]="!isFormActive">
                </div>
                <div class="input-field">
                    <label for="phone">Mobile number</label>
                    <input type="tel" id="phone" name="phone" placeholder="Add a phone number" [readOnly]="!isFormActive">
                </div>

                 @if (isFormActive) {
                    <div class="form-buttons">
                        <button type="submit" class="cancel-btn" (click)="togglEditForm()">Cancel</button>
                        <button type="submit" class="save-changes-btn">Save Changes</button>
                    </div>
                 }
                 @else {
                    <div class="form-buttons">
                        <a class="edit-btn" (click)="togglEditForm()">Edit Profile</a>
                    </div>
                 }
            </form>
        </div>
    </div>
</div>