<div class="container">

    <div class="profile-container">
        <!-- image -->
        <div class="image-container">
            <div class="image">
                <img src="" alt="user's profile image">
            </div>

            <div class="info">
                <p>Click to update or remove  your profile picture</p>

                <div class="info-actions">
                    <label for="file">upload</label>
                    <input type="file" name="file" id="file" class="file-input">
                    <button class="delete-btn" (click)="openDialog()">delete</button>
                </div>
            </div>
        </div>
    
        <!--profile info -->
        <div class="info-container">
            <form >
                <div class="input-field">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Esthera Jackson" (focus)="onFocus()">
                </div>

                <div class="input-field">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="whitney419@gmail.com" (focus)="onFocus()">
                </div>
                <div class="input-field">
                    <label for="phone">Mobile number</label>
                    <input type="tel" id="phone" name="phone" placeholder="Add a phone number" (focus)="onFocus()">
                </div>

                <!-- form actions -->
                 @if (isFormActive) {
                    <div class="form-buttons">
                        <button type="submit" class="cancel-btn">Cancel</button>
                        <button type="submit" class="save-changes-btn">Save Changes</button>
                    </div>
                 }
            </form>
        </div>
    </div>
</div>