<div class="container">
    <div class="content">
        <p class="feature">Our Core Features</p>

        <h2>Connecting Clients with Service Providers</h2>

        <p>Swift Craft is your go-to platform for finding and managing service providers. Easily search, book, and manage services with just a few clicks.</p>

        <div class="details">
            <div class="col">
                <mat-icon svgIcon="bookmark"></mat-icon>
                <p class="title">Quick search & Booking</p>
                <p class="description">Combine multiple report into a single beautiful dashboard</p>
            </div>
            <div class="col">
                <mat-icon svgIcon="communication"></mat-icon>
                <p class="title">Easy Communication</p>
                <p class="description">Combine multiple report into a singlebeautiful dashboard</p>
            </div>
        </div>
    </div>
    <div class="image-container">
        <img src="../../../../../assets/images/core.png" alt="a man and a woman welding a bed">
    </div>
</div>