<div class="container">
    <div class="col-1">
        <p>Discover</p>
        <h2>Find and Hire Service Providers with Ease</h2>
        <p>Swift Craft your go-to platform for finding and hiring service providers.
           With our user-friendly interface, you can easily search for providers, compare options, and book your desired service.
        </p>
    </div>

    <div class="col-2">
        <div class="col">
            <div class="icon">
                <mat-icon svgIcon="search"></mat-icon>
            </div>
            <p class="title">Search for Providers</p>
            <p class="description">Browse through our extensive list of service providers and find the one that best suits your needs.</p>
        </div>

        <div class="col">
            <div class="icon">
                <mat-icon svgIcon="compare"></mat-icon>
            </div>
            <p class="title">Compare Options</p>
            <p class="description">Evaluate different providers based on their ratings, reviews, and pricing to make an informed decision.</p>
        </div>

        <div class="col">
            <div class="icon">
                <mat-icon svgIcon="bookmark"></mat-icon>
            </div>
            <p class="title">Book Your Service</p>
            <p class="description">Once you’ve found the perfect provider, easily book your service and get the job done.</p>
        </div>
    </div>

</div>