<div class="main-container">
    <div class="welcome">
        <p>Welcome to Swift Crafts</p>
        <span>Lets’ get you registered and ready to provide services to<br> our clients.</span>
    </div>

    <div class="step">
        <h2>read</h2>
    </div>
   <div class="options">
    <a routerLink="/registration/basic-info" routerLinkActive="active-link" class="menu-items" >
        <div class="num">
            <p>1</p>
        </div>
       <div class="text-arrow">
        <span>Basic Information</span>
        <img src="assets/arrow.svg" alt="arrow">
       </div>
    </a>
    <a routerLink="/registration/about-business" routerLinkActive="active-link"  class="menu-items">
        <div class="num">
            <p>2</p>
        </div>
       <div class="text-arrow">
        <span>About your Business</span>
        <img src="assets/arrow.svg" alt="arrow">
       </div>
    </a>
    <a routerLink="/registration/payment-method" routerLinkActive="active-link"  class="menu-items">
        <div class="num">
            <p>3</p>
        </div>
       <div class="text-arrow">
        <span>Payment Method</span>
        <img src="assets/arrow.svg" alt="arrow">
       </div>
    </a>
    <a routerLink="/registration/service-preference" routerLinkActive="active-link"  class="menu-items">
        <div class="num">
            <p>4</p>
        </div>
       <div class="text-arrow">
        <span>Service Preference</span>
        <img src="assets/arrow.svg" alt="arrow">
       </div>
    </a>
    <a routerLink="/registration/service-experience" routerLinkActive="active-link"  class="menu-items">
        <div class="num">
            <p>5</p>
        </div>
        <div class="text-arrow">
            <span>Service Experience</span>
        <img src="assets/arrow.svg" alt="arrow">
        </div>
    </a>
    <a routerLink="/registration/preview" routerLinkActive="active-link" class="menu-items">
        <div class="num">
            <p>6</p>
        </div>
      <div class="text-arrow">
        <span>Preview</span>
        <img src="assets/arrow.svg" alt="arrow">
      </div>
    </a>
   </div>
</div>