<div class="main-container">
    <div class="welcome">
        <p>Welcome to Swift Crafts</p>
        <span>Lets’ get you registered and ready to provide services to<br> our clients.</span>
    </div>

    <div class="step">
        <h2>read</h2>
    </div>
   <div class="options">
    <div class="menu-items" >
        <div class="num">
            <p>1</p>
        </div>
        <span>Basic Information</span>
        <img src="assets/arrow.svg" alt="arrow">
    </div>
    <div class="menu-items">
        <div class="num">
            <p>2</p>
        </div>
        <span>About your Business</span>
        <img src="assets/arrow.svg" alt="arrow">
    </div>
    <div class="menu-items">
        <div class="num">
            <p>3</p>
        </div>
        <span>Payment Method</span>
        <img src="assets/arrow.svg" alt="arrow">
    </div>
    <div class="menu-items">
        <div class="num">
            <p>4</p>
        </div>
        <span>Service Preference</span>
        <img src="assets/arrow.svg" alt="arrow">
    </div>
    <div class="menu-items">
        <div class="num">
            <p>5</p>
        </div>
        <span>Service Experience</span>
        <img src="assets/arrow.svg" alt="arrow">
    </div>
    <div class="menu-items">
        <div class="num">
            <p>6</p>
        </div>
        <span>Preview</span>
        <img src="assets/arrow.svg" alt="arrow">
    </div>
   </div>
</div>