<div
  class="image-uploader"
  (click)="pictureInput.click()"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  [class.dragging]="isDragging"
>
  <input
    type="file"
    #pictureInput
    hidden
    accept="image/*"
    multiple
    (change)="onFileSelected($event)"
  />
  <div class="instructions">
    <span class="cloud-upload"
      ><img src="../../../../../assets/upload-cloud.svg" alt="Upload"
    /></span>
    <p><span class="upload-text">Click to upload</span> or drag and drop</p>
    <p>SVG, PNG, JPG or GIF (max. 800x400px)</p>
  </div>
</div>

<div class="image-preview" *ngIf="imagePreviews.length > 0">
  <div *ngFor="let img of imagePreviews; let i = index" class="preview">
    <div class="uploaded-image">
      <div class="left">
        <div class="image-container">
          <img [src]="img.url" alt="Uploaded image preview" />
        </div>
        <p class="file-name">{{ img.name }}</p>
      </div>

      <button class="remove" (click)="removeImage(i)">
        <i class="pi pi-times"></i>
      </button>
    </div>
  </div>
</div>
