<div class="container">
    <div class="header">
        <h3>Trending Services</h3>
        <p>Discover our most popular services, trusted by clients for their quality and readability. Find you what you need with ease and confidence.</p>
    </div>

    @if (trendingServices$ | async; as trendingServices) {
        <div class="services">
            @for (trendingService of trendingServices | slice:0:6; track $index) {
                <div class="card">
                    <img [src]="trendingService.image" alt="{{trendingService.name}}">
                    <div class="details">
                        <p class="title">{{trendingService.name}}</p>
                        <p class="description">{{trendingService.description}}</p>
                    </div>
                </div>
            }
        </div>
    }

</div>