<div class="container">
    @if (provider['business-info'].aboutBusinessResponse; as about) {
        
        <div class="col">
            <div class="title">
                <p>Background Check</p>
                <i class="pi pi-check" style="color: #408EFD"></i>
            </div>

            @if (about.businessIdentityCard) {
                <ng-container>
                    @if (isImage(about.businessIdentityCard)) {
                        <img 
                            [src]="about.businessIdentityCard" 
                            alt="Business Identity Card" 
                            style="max-width: 100%; height: auto;"
                        />
                    }
                    @if (!isImage(about.businessIdentityCard)) {
                        <a [href]="about.businessIdentityCard" 
                        target="_blank" 
                        rel="noopener noreferrer">View Business Identity Card</a>
                    }
                </ng-container>
            }

            @if (about.businessCertificate) {
                <ng-container>
                    @if (isImage(about.businessCertificate)) {
                        <img 
                            [src]="about.businessCertificate" 
                            alt="Business Identity Card" 
                            style="max-width: 100%; height: auto;"
                        />
                    }
                    @if (!isImage(about.businessCertificate)) {
                        <a [href]="about.businessCertificate" 
                        target="_blank" 
                        rel="noopener noreferrer">View Business Certificate</a>
                    }
                </ng-container>
            }
        </div>
    }
</div>
