<section class="container">
    <h1 class="page-title">Requests</h1>

    <div class="information">
        <div class="back" (click)="goBack()">
            <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.4753 6.89193H1.80859M1.80859 6.89193L7.64193 12.7253M1.80859 6.89193L7.64193 1.05859" stroke="#065AD8" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <p>back</p>
           
          </div>

          <div class="task">
            <div class="details">
                <p>{{quoteDetails?.title}}</p>
            </div>

            <div class="btn-decisions">
                <div class="decline" (click)="showDialog('decline')">
                    <img src="assets/wrong.svg" alt="wrong">
                    <button>Decline Request</button>
                </div>

                <div class="approve" (click)="showDialog('approve')">
                    <img src="assets/correct.svg" alt="mark">
                    <button>Approve</button>
                </div>
            </div>

          </div>

          <div class="detailed">
            <p>Details</p>
            <span>{{quoteDetails?.description}}</span>
          </div>

          <div class="time-frame">
            <p>Time Frame</p>
            <span>Start : {{quoteDetails?.startDate}}<br> End : {{quoteDetails?.endDate}}</span>
          </div>
          <div class="location">
            <p>Location</p>
            <span>{{quoteDetails?.location}}</span>
          </div>
          <div class="add-info">
            <p>Additional Information (Special Instructions)</p>
            <span>{{quoteDetails?.additionalDetails || 'Not Added'}}</span>
          </div>

          <div class="uploads">
            <p>Uploaded Images</p>
            
            @if (quoteDetails?.images?.length) {
              <div class="pictures">
                @for (image of quoteDetails?.images; track $index) {
                  <img [src]="image" alt="uploaded image" />
                }
              </div>
            } @else {
              <p>No images were attached.</p>
            }
          </div>
</div>

</section>

<p-dialog header="Request Approval" [modal]="true" [(visible)]="modals.approve">
 <form [formGroup]="approveForm" (ngSubmit)="onApproval()">
    <div class="pricing-details">
        <label>Pricing Details</label>
        <input 
        type="number"
        placeholder="Enter your price "
        formControlName="price"
        >
    </div>
    <div class="error-message" *ngIf="approveForm.get('price')?.invalid && (approveForm.get('price')?.dirty || approveForm.get('price')?.touched)">
        Price is required
      </div>

    <div class="rich-text">
        <p>Additional Information</p>
        <p-editor
        [style]="{ height: '200px' }" 
        formControlName="approvalDetails"
        [(ngModel)]="reasonText"
         />
    </div>
    <div class="error-message" *ngIf="approveForm.get('info')?.invalid && (approveForm.get('info')?.dirty || approveForm.get('info')?.touched)">
        Information is required
      </div>
   
     <div class="btns">
        <button class="cancel" (click)="closeDialog('approve')">Cancel</button>
        <button class="approve" (click)="closeDialog('approve')" [disabled]="approveForm.invalid">Approve</button>
     </div>
 </form>
       
</p-dialog>

<p-dialog header="Decline Request" [modal]="true" [(visible)]="modals.decline">       
  <form class="modal" [formGroup]="declineForm" (ngSubmit)="onDecline()">
    <div class="rich-text">
        <p>Reasons for declining</p>
        <p-editor
         [style]="{ height: '200px' }" 
         formControlName="declineReason"
         [(ngModel)]="reasonText"
         />
    </div>
    <div class="error-message" *ngIf="declineForm.get('reason')?.invalid && (declineForm.get('reason')?.dirty || declineForm.get('reason')?.touched)">
        Reason is required
      </div>
   
     <div class="btns">
        <button class="cancels" (click)="closeDialog('approve')">Cancel</button>
        <button class="approves" (click)="closeDialog('approve')" [disabled]="declineForm.invalid">Decline</button>
     </div>
  </form>
       
</p-dialog>