<section class="content">
  <h1 class="page-title">Settings</h1>

  <p-tabView>
    <p-tabPanel header="Service Categories">
      <div class="tab-content">
        <div class="options">
          <p-button
            label="Create Service Category"
            icon="pi pi-plus"
            styleClass="create-service-button"
          />
        </div>
        <app-service-listing />
      </div>
    </p-tabPanel>
    <p-tabPanel header="FAQ Categories">
      <div class="tab-content"></div>
    </p-tabPanel>
    <p-tabPanel header="FAQ">
      <div class="tab-content"></div>
    </p-tabPanel>
  </p-tabView>
</section>
