<div class="container">
    <form>
        <div class="input-group">
            <div class="input-field">
                <label for="payment">Payment Preference</label>
                <select name="payment" id="payment">
                    <option value="" selected disabled>Choose Payment Preference</option>
                    <option value="fidelty">Fidelty</option>
                    <option value="cal">Cal</option>
                </select>
            </div>
            <div class="input-field">
                <app-fields/>
                <label for="name">Account Name</label>
                <input type="text" id="name" name="name" placeholder="Enter account name">
            </div>
            <div class="input-field">
                <label for="alias">Account Alias</label>
                <input type="text" id="alias" name="alias" placeholder="Enter a desired name">
            </div>
            <div class="input-field">
                <label for="account-number">Account Number</label>
                <input type="number" id="account-number" name="account-number" placeholder="0000 0000 0000">
            </div>
        </div>

        <div class="form-actions">
            <button type="button" class="cancel-btn">Cancel</button>
            <button type="submit" class="save-btn">Save</button>
        </div>
    </form>
</div>
