<div class="container">
    <form>
        <div class="input-group">
            <div class="input-field">
                <label for="payment">Payment Preference</label>
                <select name="payment" id="payment">
                    <option value="" selected disabled>Choose Payment Preference</option>
                    <option value="fidelty">Fidelty</option>
                    <option value="cal">Cal</option>
                </select>
            </div>
            
            <div class="input-field">
                <app-fields label="Account Name"
                type="text"
                placeholder="Enter account name"
                [class]="'custom-style'"/>
            </div>

            <div class="input-field">
                <app-fields label="Account Alias"
                type="text"
                placeholder="Enter a desired name"
                [class]="'custom-style'"/>
            </div>

            <div class="input-field">
                <app-fields label="Account Number"
                type="number"
                placeholder="0000 0000 00000"
                [class]="'custom-style'"/>
            </div>
        </div>

        <div class="form-actions">
            <button type="button" class="cancel-btn">Cancel</button>
            <button type="submit" class="save-btn">Save</button>
        </div>
    </form>
</div>
