<div class="payment">
    <div class="payment-text">
        <p>Payment Method</p>
        <span>Tell us about the payment method you would like to use.</span>
    </div>

   @if(selectedPaymentMethod === 'Bank Account'){
    <form [formGroup]="bankForm" class="payment-form" (ngSubmit)="onSubmit()">
        <div class="drop">
         <label>Payment Preference</label>
         <p-dropdown 
         [(ngModel)]="selectedPaymentMethod" 
         [options]="allPreferences" 
         placeholder="Select a Payment Method"
         formControlName="paymentPreference"
         />
        </div>
        <div class="error-message" *ngIf="bankForm.get('paymentPreference')?.invalid && (bankForm.get('paymentPreference')?.dirty || bankForm.get('paymentPreference')?.touched)">
            Payment Preference is required
         </div>
 
        <div class="drop">
         <label>Bank Name</label>
         <p-dropdown 
         [options]="banks"
         placeholder="Please Choose"
         formControlName="bankName" 
         />
        </div>
        <div class="error-message" *ngIf="bankForm.get('bankName')?.invalid && (bankForm.get('bankName')?.dirty || bankForm.get('bankName')?.touched)">
            Bank Name is required
         </div>
 
        <app-fields
        label="Account Name"
        type="text"
        placeholder="Enter your account name"
         formControlName="accountName" 
         [error]="bankForm.get('accountName')?.invalid && (bankForm.get('accountName')?.dirty || bankForm.get('accountName')?.touched)"
    />
    <div class="error-message" *ngIf="bankForm.get('accountName')?.invalid && (bankForm.get('businessAddress')?.dirty || bankForm.get('accountName')?.touched)">
       Account Name is required
      </div>
         
         <app-fields
         label="Account Alias"
         type="text"
         placeholder="Enter a desired name you wish to attach to your account"
         formControlName="accountAlias" 
         [error]="bankForm.get('accountAlias')?.invalid && (bankForm.get('accountAlias')?.dirty || bankForm.get('accountAlias')?.touched)"
         />
         <div class="error-message" *ngIf="bankForm.get('accountAlias')?.invalid && (bankForm.get('accountAlias')?.dirty || bankForm.get('accountAlias')?.touched)">
            Account Alias is required
         </div>
 
         <app-fields
         label="Account Number"
         type="number"
         placeholder="0000 0000 0000 0000"
         formControlName="accountNumber" 
         [error]="bankForm.get('accountNumber')?.invalid && (bankForm.get('accountNumber')?.dirty || bankForm.get('accountNumber')?.touched)"
         />
         <div class="error-message" *ngIf="bankForm.get('accountNumber')?.invalid && (bankForm.get('accountNumber')?.dirty || bankForm.get('accountNumber')?.touched)">
            Account Number is required
         </div>
 
     <div class="btns">
         <button type="button" class="btn-back" (click)="navigateTo()">Back</button>
         <button type="submit" class="btn-continue">Continue</button>
     </div>  
     </form>
   }
 @else if(selectedPaymentMethod === 'Mobile Money'){
    <form [formGroup]="mobileForm" class="payment-form" (ngSubmit)="onSubmit()">
        <div class="drop">
         <label>Payment Preference</label>
         <p-dropdown 
         [(ngModel)]="selectedPaymentMethod" 
         [options]="allPreferences" 
         placeholder="Select a Payment Method"
         formControlName="paymentPreference"
         />
        </div>
        <div class="error-message" *ngIf="mobileForm.get('paymentPreference')?.invalid && (mobileForm.get('paymentPreference')?.dirty || mobileForm.get('paymentPreference')?.touched)">
            Payment Preference is required
         </div>
 
        <div class="drop">
         <label>Service Provider</label>
         <p-dropdown 
         [options]="serviceProviders" 
         placeholder="Please Choose"
         formControlName="serviceProvider" 
         />
        </div>
        <div class="error-message" *ngIf="mobileForm.get('serviceProvider')?.invalid && (mobileForm.get('serviceProvider')?.dirty || mobileForm.get('serviceProvider')?.touched)">
            Service provider is required
         </div>
 
        <app-fields
        label="Account Name"
        type="text"
        placeholder="Enter your account name"
        formControlName="accountName"
         [error]="mobileForm.get('accountName')?.invalid && (mobileForm.get('accountName')?.dirty || mobileForm.get('accountName')?.touched)"
 
        />
        <div class="error-message" *ngIf="mobileForm.get('accountName')?.invalid && (mobileForm.get('accountName')?.dirty || mobileForm.get('accountName')?.touched)">
            Account name is required
         </div>
         
         <app-fields
         label="Account Alias"
         type="text"
         placeholder="Enter a desired name you wish to attach to your account"
         formControlName="accountAlias"
         [error]="mobileForm.get('accountAlias')?.invalid && (mobileForm.get('accountAlias')?.dirty || mobileForm.get('accountAlias')?.touched)"
         />
         <div class="error-message" *ngIf="mobileForm.get('accountAlias')?.invalid && (mobileForm.get('accountAlias')?.dirty || mobileForm.get('accountAlias')?.touched)">
            Account Alias is required
         </div>
 
         <app-fields
         label="Mobile Number"
         type="number"
         placeholder="Enter your mobile number"
         formControlName="phoneNumber"
         [error]="mobileForm.get('phoneNumber')?.invalid && (mobileForm.get('phoneNumber')?.dirty || mobileForm.get('phoneNumber')?.touched)"
         />
         <div class="error-message" *ngIf="mobileForm.get('phoneNumber')?.invalid && (mobileForm.get('phoneNumber')?.dirty || mobileForm.get('phoneNumber')?.touched)">
            Phone number is required
         </div>
 
     <div class="btns">
         <button type="button" class="btn-back" (click)="navigateTo()">Back</button>
         <button type="submit" class="btn-continue">Continue</button>
     </div>  
     </form>
 }
 @else (){
    <form [formGroup]="payPalForm" class="payment-form" (ngSubmit)="onSubmit()">
        <div class="drop">
         <label>Payment Preference</label>
         <p-dropdown 
         [(ngModel)]="selectedPaymentMethod" 
         [options]="allPreferences" 
         placeholder="Select a Payment Method"
         formControlName="paymentPreference"
         />
        </div>
        <div class="error-message" *ngIf="payPalForm.get('paymentPreference')?.invalid && (payPalForm.get('paymentPreference')?.dirty || payPalForm.get('paymentPreference')?.touched)">
            Payment Preference is required
         </div>
        <app-fields
        label="First Name"
        type="text"
        placeholder="Enter your first name"
        formControlName="firstName"
        [error]="payPalForm.get('firstName')?.invalid && (payPalForm.get('firstName')?.dirty || payPalForm.get('firstName')?.touched)"
        />
        <div class="error-message" *ngIf="payPalForm.get('firstName')?.invalid && (payPalForm.get('firstName')?.dirty || payPalForm.get('firstName')?.touched)">
            First name is required
         </div>
         
         <app-fields
         label="Last Name"
         type="text"
         placeholder="Enter your Last name"
         formControlName="lastName"
         [error]="payPalForm.get('lastName')?.invalid && (payPalForm.get('lastName')?.dirty || payPalForm.get('lastName')?.touched)"
         />
         <div class="error-message" *ngIf="payPalForm.get('lastName')?.invalid && (payPalForm.get('lastName')?.dirty || payPalForm.get('lastName')?.touched)">
            Last name is required
         </div>
 
         <app-fields
         label="Email"
         type="email"
         placeholder="Enter your email"
         formControlName="email"
         [error]="payPalForm.get('email')?.invalid && (payPalForm.get('email')?.dirty || payPalForm.get('email')?.touched)"
         />
         <div class="error-message" *ngIf="payPalForm.get('email')?.invalid && (payPalForm.get('email')?.dirty || payPalForm.get('email')?.touched)">
            Email is required and must be valid
         </div>
 
     <div class="btns">
         <button type="button" class="btn-back" (click)="navigateTo()">Back</button>
         <button type="submit" class="btn-continue">Continue</button>
     </div>  
     </form>
 }
    
</div>
