<app-user-profile-header/>
<app-navbar [backgroundColor]="'#F2F4F5'"/>
<div class="quotes">
    <h6>Quotes</h6>
    <div class="search">
        <input type="text" placeholder="Search by project title or name">
        <img src="../../../../../assets/search.svg" alt="search">
    </div>

   <div class="all-quotes">
    <div  class="quote-container">
        @for(quotes of quotes; track quotes.id){

            <div class="quote-list">
                <div class="header">
                    <p>{{quotes.title}}</p>
                </div>
    
                <div class="location">
                    <i class="pi pi-map-marker" style="color:#77878F"></i>
                    <p>{{quotes.location}}</p>
                </div>
    
                <div class="info">
                    <div class="date">
                        <i class="pi pi-calendar" style="color:#77878F"> Date</i>
                        <p>{{quotes.startDate}} -  {{quotes.endDate}}</p>
                    </div>
    
                    <div class="duration">
                        <i class="pi pi-clock" style="color:#77878F"> Duration</i>
                        <p>{{quotes.duration}}</p>
                    </div>
                    <div class="price">
                        <i class="pi pi-dollar" style="color:#77878F"> Price</i>
                        <p>{{quotes.price || 'Not available'}}</p>
                    </div>
                </div>
    
                <div class="view-details" (click)="toggleDetails()">
                    <button class="btn-view">View Details</button>
                </div>
    
            </div>
        }

    </div>

    <div class="details-preview" *ngIf="showDetails && selectedQuote">
        <div class="title">
            <p>{{ selectedQuote.title }}</p>
            <i class="pi pi-times" style="color:#77878F; cursor:pointer " (click)="toggleDetails()"></i>
        </div>

        <div class="received-info">
            <div class="status">
                <p>Status:</p>
                <span>{{selectedQuote.decision}}</span>
            </div>

            <div class="due-date">
                <p>Due Date:</p>
                <span>{{selectedQuote.endDate}}</span>
            </div>
             
            <div class="provider">
                <p>Provider:</p>
               <div class="pro">
                <img src="assets/images/Avatar.png" alt="img">
                <span>John Doe</span>
               </div>
            </div>
            
        </div>

        <div class="main-content">
            <p-tabView>
          <p-tabPanel header="Attachments">
            <div class="tab-content">
                <div class="photos">
                    <img *ngFor="let attachment of selectedQuote.images" src="assets/images/core.png" alt="picture">
                    

                </div>
              
            </div>
          </p-tabPanel>
          <p-tabPanel header="Reply">
            <div class="tab-content">
              <div class="reply">
                <img src="assets/images/Avatar.png" alt="profile-img">

                <div class="text">
                    <p>John Does</p>
                    <span>Hi Whitney, I have reviewed your quote and would like to inform you that I am okay with these terms. But can you clearify a few things for me ?</span>
                </div>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
          </div>
    </div>
   </div>
</div>