<app-user-profile-header/>
<app-navbar [backgroundColor]="'#F2F4F5'"/>
<div class="user-profile">
<div class="cover-image">
    <img src="../../../../../assets/images/cover-image.png" alt="cover image">

    <div class="profile-image-container">
        @if (client) {
            <img [src]= "client.profileImage || defaultImage" alt="user's avatar" class="avatar">
            <div class="overlay" (click)="triggerFileInput()">
                <img src="../../../../../assets/Vector.png" alt="camera icon">
            </div>
        }
        <input type="file" accept="image/*" (change)="onFileSelected($event)" id="fileInput"/>
    </div>
</div>



<div class="container">

    <div class="info-container">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="header">
                <div class="info">
                    <h4>Personal Info</h4>
                    <p>Update your personal details here</p>
                </div>

                <button [disabled]="userForm.invalid"> Save Changes</button>
            </div>

            <div class="input-group">
                <div class="input-field">
                    <app-fields label="Name"
                        type="text"
                        placeholder="Esthera Jackson"
                        formControlName="name"
                        [error]="userForm.get('name')?.invalid && (userForm.get('name')?.touched || userForm.get('name')?.dirty)"
                        [class]="'custom-style'"
                    />
                    @if (userForm.get('name')?.invalid && (userForm.get('name')?.touched || userForm.get('name')?.dirty)) {
                        @if (userForm.get('name')?.errors?.['required']) {
                            <small class="error">Name is required.</small>
                        }
                        @if (userForm.get('name')?.errors?.['minlength']) {
                            <small class="error">Name must be at least 3 characters long.</small>
                        }
                    }
                </div>

                <div class="input-field">
                    <app-fields label="Email"
                        type="email"
                        placeholder="whitney491@gmail.com"
                        formControlName="email"
                        [readOnly]="!isFormActive"
                        [class]="'custom-style'"
                        [error]="userForm.get('email')?.invalid && (userForm.get('email')?.touched || userForm.get('email')?.dirty)"
                    />
                    @if (userForm.get('email')?.invalid && (userForm.get('email')?.touched || userForm.get('email')?.dirty)) {
                        @if (userForm.get('email')?.errors?.['required']) {
                            <small class="error">Email is required.</small>
                        }
                        @if (userForm.get('email')?.errors?.['email']) {
                            <small class="error">Email must be a valid email address.</small>
                        }
                    }
                </div>

                <div class="input-field">
                    <app-fields label="Mobile number"
                        type="tel"
                        placeholder="Add a phone number"
                        formControlName="phone"
                        [error]="userForm.get('phone')?.invalid && (userForm.get('phone')?.touched || userForm.get('phone')?.dirty)"
                        [class]="'custom-style'"
                    />

                    @if (userForm.get('phone')?.invalid && (userForm.get('phone')?.touched || userForm.get('phone')?.dirty)) {
                        @if (userForm.get('phone')?.errors?.['required']) {
                            <small class="error">Phone number is required.</small>
                        }
                        @if (userForm.get('phone')?.errors?.['pattern']) {
                            <small class="error">Please enter a valid 10-digit phone number.</small>
                        }
                    }
                </div>
            </div>
            
        </form>

    </div>

    <div class="info-container account-container">
        <form [formGroup]="accountInfoForm">
            <div class="header">
                <div class="info">
                    <h4>Account Info</h4>
                    <p>Update your account details here</p>
                </div>

                <button type="button" (click)="openAccountDialog()">Add Account</button>

            </div>

            <div class="input-group">
                @if (paymentAccounts | async; as accounts) {
                    @for (account of accounts; track $index) {
                        <div class="account" (click)="toggleAccountDetails()">
                            <p>{{ account.accountName }}</p>
                            @if (isAccountClicked) {
                                <img src="../../../../../assets/check-fill.svg" alt="check icon">
                            }
                        </div>
                    }
                }
                @else {
                    <div class="no-result">
                        <img src="../../../../../assets/no-results.svg" alt="no result found">
                        <h2>No accounts added</h2>
                    </div>
                }
               
            </div>

            @if (isAccountClicked) {
            <div class="add-account">
                <div class="title">
                    <h5>Account Information</h5>

                    <div class="icons">
                        <img src="../../../../../assets/edit.svg" alt="pen icon" (click)="openAccountDialog()">
                        <img src="../../../../../assets/trash.svg" alt="trash icon" (click)="openDeleteDialog()">
                    </div>
                </div>

                    <div class="details">
                        <div class="column">
                            <app-fields type="text"
                            label="Bank Name:"
                            placeholder="Fidelty"
                            formControlName="bankName"
                            [readOnly]="!isFormActive"
                            [error]="accountInfoForm.get('bankName')?.invalid && (accountInfoForm.get('bankName')?.touched || accountInfoForm.get('bankName')?.dirty)"
                            [class]="'custom-input-style'"
                            />
                            @if (isFormActive && accountInfoForm.get('bankName')?.touched && accountInfoForm.get('bankName')?.invalid) {
                                @if (accountInfoForm.get('bankName')?.hasError('required')) {
                                    <small class="error">Bank name is required.</small>
                                }
                            }
                        </div>
                        <div class="column">
                            <app-fields type="text"
                            label="Account Name:"
                            placeholder="John Doe"
                            formControlName="accountName"
                            [readOnly]="!isFormActive"
                            [class]="'custom-input-style'"
                            [error]="accountInfoForm.get('accountName')?.invalid && (accountInfoForm.get('accountName')?.touched || accountInfoForm.get('accountName')?.dirty)"
                            />
                            @if (isFormActive && accountInfoForm.get('accountName')?.touched && accountInfoForm.get('accountName')?.invalid) {
                                @if (accountInfoForm.get('accountName')?.hasError('required')) {
                                    <small class="error">Account name is required.</small>
                                }
                            }
                            
                        </div>
                        <div class="column">
                            <app-fields type="text"
                            label="Account Alias:"
                            placeholder="EUR"
                            formControlName="accountAlias"
                            [readOnly]="!isFormActive"
                            [class]="'custom-input-style'"
                            />
                        </div>
                        <div class="column">
                            <app-fields type="text"
                            label="Account Number:"
                            placeholder="45341287975437"
                            formControlName="accountNumber"
                            [readOnly]="!isFormActive"
                            [class]="'custom-input-style'"
                            [error]="accountInfoForm.get('accountNumber')?.invalid && (accountInfoForm.get('accountNumber')?.touched || accountInfoForm.get('accountNumber')?.dirty)"
                            />
                            @if (isFormActive && accountInfoForm.get('accountNumber')?.touched && accountInfoForm.get('accountNumber')?.invalid) {
                                @if (accountInfoForm.get('accountNumber')?.hasError('required')) {
                                    <small class="error">Account number is required.</small>
                                }
                                @if (accountInfoForm.get('accountNumber')?.hasError('pattern')) {
                                    <small class="error">Please enter a valid account number.</small>
                                }
                            }
                        </div>
                    </div>
                    </div>
            }
        </form>

    </div>
</div>
</div>