@use '../../../../../styles/_functions' as *
@use '../../../../../styles/_mixins' as *
@use '../../../../../styles/_typography' as *
@use '../../../../../styles/_variables' as *

.user-profile
    height: calc( 100vh - 127px )
    overflow: scroll
    scroll-behavior: smooth
    scrollbar-width: none

.cover-image
    height: pxToRem(214)
    position: relative

    img
        width: 100%
        height: 100%
        object-fit: cover

    .profile-image-container
        position: absolute
        width: 9.375rem
        top: 10rem
        left: 11rem
        
    
    
        .avatar
            width: pxToRem(150)
            height: pxToRem(150)
            object-fit: cover
            border: 5px solid $white
            border-radius: 50%


        .overlay
            position: absolute
            right: 3rem
            width: pxToRem(40)
            height: pxToRem(40)
            padding: 0.7rem
            background-color: #F2F4F5
            bottom: 18px
            right: 0
            border-radius: 50%
            transition: background-color 0.3s ease
            @include flex-option(flex, center, center,flex)
            cursor: pointer
            
            &:hover
                img
                    filter: invert(1)


.container
    @include flex-option(flex, null, null, column)
    padding: pxToRem(20) pxToRem(60) pxToRem(28) pxToRem(60)
    gap: 0.625rem
    background-color: #F7FAFC
      
    .info-container
        background-color: $white
        padding: pxToRem(95) pxToRem(20) pxToRem(40)

        form
            @include flex-option(flex, null, null, column)
            gap: 1.25rem
            padding-inline: pxToRem(102)

            .header
                @include flex-option(flex, space-between, center, row)
                padding-bottom: 0.625rem
                border-bottom: 1px solid #F2F4F5

                .info
                    @include flex-option(flex, null, null, column)
                    gap: 0.625rem
                    
                    h4
                        font-size: 1.5rem
                        font-weight: 500
                        color: $black-darken-1

                    p
                        font-size: 0.875rem
                        color: #475156
                
                button
                    padding: pxToRem(12) 1rem
                    border-radius: 9999px
                    border: 2px solid #408EFD
                    background-color: $white
                    color: #408EFD
                    cursor: pointer

            .input-group
                @include flex-option(flex, null, null, column)
                gap: 2rem
                cursor: pointer

                .input-field
                    @include flex-option(flex, null, null, column)
                    gap: 0.5rem
                    color: $black-darken-1

                    label
                        font-size: pxToRem(14)
                        letter-spacing: 0.7px

                    input
                        font-size: 1rem
                        padding: pxToRem(12)
                        border-radius: 4px
                        border: 1px solid #EAECF0
                        outline: none

                        &:active,
                        &:focus-within
                            outline: none

            .no-result
                @include flex-option(flex, center, center,column)
                gap: 0.5rem

                img
                    width: 50%
                    height: 50%
                    object-fit: cover

                h2
                    font-size: 1.5rem
                    color: $text-secondary
                
                
                .account
                    @include flex-option(flex, space-between, center, row)
                    font-size: 1rem
                    padding: pxToRem(12)
                    border-radius: 4px
                    border: 1px solid #E2E8F0
                    background-color: #FDFFFE
            
            .add-account
                @include flex-option(flex, null, null, column)
                gap: 1.25rem
                margin-top: pxToRem(44)
                padding-block: 1rem

                .title
                    @include flex-option(flex,space-between, center, row)

                    h5
                        font-size: 1rem
                        font-weight: 700
                        line-height: 20px
                        letter-spacing: 0.8px

                    .icons
                        @include flex-option(flex, null, center, row)
                        gap: 0.75rem
                        cursor: pointer
                

                .details
                    @include flex-option(flex, space-between,flex-start, row)
                    gap: 1.25rem

                    .column
                        @include flex-option(flex, null, null, column)
                        gap: pxToRem(5)

                        input
                            padding: 0.625rem
                            border-radius: 8px
                            border: 1px solid #CBCED7
                            background-color: #FAFBF
                            outline: none
                    

    .account-container
        padding: pxToRem(40) pxToRem(20) pxToRem(16)
        

.error
    color: $red

.has-error
    border: 1px solid $red

input[type="file"]
    display: none