<p-dialog
  [header]="
    serviceCategory ? 'Edit Service Category' : 'Create Service Category'
  "
  [modal]="true"
  [(visible)]="visible"
  (visibleChange)="closeDialog()"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '32.5rem' }"
>
  <form
    class="service-category-form"
    [formGroup]="serviceCategoryForm"
    (ngSubmit)="submitForm()"
  >
    <div class="name">
      <label for="categoryName">Service Category Name</label>
      <input
        type="text"
        pInputText
        formControlName="categoryName"
        placeholder="Enter the name of the service"
      />
      <p
        class="error-message"
        *ngIf="
          serviceCategoryForm.get('categoryName')?.touched &&
          serviceCategoryForm.get('categoryName')?.invalid
        "
      >
        Category name is required
      </p>
    </div>
    <div class="description">
      <label for="description">Description</label>
      <input
        type="text"
        pInputText
        formControlName="description"
        placeholder="Enter a description"
      />
      <p
        class="error-message"
        *ngIf="
          serviceCategoryForm.get('description')?.touched &&
          serviceCategoryForm.get('description')?.invalid
        "
      >
        Description is required
      </p>
    </div>
    <div class="image">
      <label for="serviceImage"> Attach Image </label>
      <app-image-uploader (uploadedImages)="onImageUploaded($event)" />
    </div>
  </form>
  <div class="buttons">
    <p-button label="Cancel" severity="secondary" (onClick)="closeDialog()" />
    <p-button
      type="button"
      (onClick)="submitForm()"
      [label]="serviceCategory ? 'Update' : 'Create'"
      class="primary"
    />
  </div>
</p-dialog>
