<nav [style.background-color]="backgroundColor">
    @if (currentRoute !== 'Pro') {
        <i class="pi pi-home" style="color: #5F6C72; font-size: 1.125rem;"></i>
    }
    <a routerLink="/" routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{ exact: true }">Home</a>

    <i class="pi pi-chevron-right" style="color: #5F6C72;"></i>
    @if (currentRoute) {
        <a [routerLink]="'/' + (currentRoute | lowercase)" routerLinkActive="active-link" 
        >{{currentRoute}}</a>
    }

</nav>
