<div class="card">
  <div class="header">
    <div class="info">
      <h1>Popular Services</h1>
    </div>
    <form [formGroup]="formGroup">
      <p-dropdown
        formControlName="selectedInterval"
        [options]="interval"
        optionLabel="name"
        placeholder="Quarterly"
      />
    </form>
  </div>
  <div class="data">
    <p-chart
      type="doughnut"
      [data]="data"
      [options]="options"
      style="height: 220px; width: 220px"
    />
    <div class="services">
      <div class="service">
        <div class="left"><span class="first"></span>Painting</div>
        <div class="percentage">48.8%</div>
      </div>
      <div class="service">
        <div class="left"><span class="second"></span>Appliance Fixing</div>
        <div class="percentage">24.3%</div>
      </div>
      <div class="service">
        <div class="left"><span class="third"></span>Plumbing</div>
        <div class="percentage">14.6%</div>
      </div>
      <div class="service">
        <div class="left"><span class="fourth"></span>Cleaning</div>
        <div class="percentage">12.3%</div>
      </div>
    </div>
  </div>
</div>
