<div class="container">
    <div class="content">
        <div class="left-side">

            <div class="col-1">
                <p>Find - Book - Manage</p>
                <h3>Revolutionize Your Service <br/> Needs with Swift Craft <br/> Today</h3>
            </div>

            <div class="col-2">
                <p>The best platform for finding top service providers for your needs. Easily search, book, and manage services like cleaning,<br/> painting, plumbing, and more.</p>
                <form class="input" [formGroup]="formGroup" (ngSubmit)="onSearch()">
                    <p-autoComplete class="service"
                        formControlName="selectedService"
                        [suggestions]="filteredCategories"
                        (completeMethod)="filterCategories($event)"
                        placeholder="What do you need help with?" 
                    />

                    <div></div>
                    <i class="pi pi-map-marker" style="color: #C9C9C9;"></i>                    
                    <app-locations (placeSelected)="onLocationSelected($event)" formControlName="selectedLocation" class="location"/>
                    <button class="search-btn">Search</button>
                </form>
            </div>
        </div>

        <div class="right-side">
            <img src="../../../../../assets/images/Hero.png" alt="hero image">
        </div>
    </div>
</div>