<div class="container">
    <div class="circle-container">
      <div class="outer-circle">
        <div class="inner-circle">
          <p class="quote">“Swift Craft platform has been incredibly helpful to me.”</p>
          <div class="author">
            <img src="https://via.placeholder.com/30" alt="Author">
            <span class="author-name">Olivia Ryhe</span>
          </div>
        </div>
        <p class="bottom-text">Connect with service providers worldwide</p>
      </div>
    </div>
  </div>
  