<div class="container">
    <div class="circle-container">
      <div class="outer-circle">
        <div class="inner-circle">
          <p class="quote">“Swift Craft platform has been incredibly helpful to me.”</p>
          <div class="author">
            <img src="assets/images/pimage.png" alt="Author">
            <span class="author-name">Olivia Ryhe</span>
          </div>
        </div>
      </div>
      <div class="bottom-text">
      <p>Connect with service providers worldwide</p>
      <span>Everything you need is available here on swift craft platform</span>
      </div>
      
    </div>
  </div>
  