@use '../../../../../styles/_functions' as *
@use '../../../../../styles/_variables' as *
@use '../../../../../styles/_mixins' as *


.container
    background: $primary
    .circle-container
        @include flex-option(flex , center, center ,column)
        gap: pxToRem(50)
        height: 100vh
        text-align: center
        color: white

        .outer-circle
          width: pxToRem(400)
          height: pxToRem(400)
          border-radius: 50%
          background: linear-gradient(180deg, rgba(156, 187, 232, 0.56) 0%, rgba(6, 90, 216, 0.3472) 100%)
          @include flex-option(flex , center, center ,column)
          box-sizing: border-box

          .inner-circle
            width: pxToRem(300)
            height: pxToRem(300)
            border-radius: 50%
            background: linear-gradient(180deg, rgba(156, 187, 232, 0.19) 0%, rgba(71, 132, 222, 0.19) 100%)
            @include flex-option(flex , center, null,column)
            box-sizing: border-box

            p
             font-size: pxToRem(28)
             font-weight: 600


          .author
            @include flex-option(flex , null , center ,row )
            margin-top: pxToRem(30)

        .bottom-text
              p
               font-size: pxToRem(16)  
               font-weight: 600

              span
                font-size: pxToRem(14)
                font-weight: 700
                color: #4B91FA
              
                  
           