<div class="container">
    <form>
        <div class="input-group">
            <div class="input-field">
                <label for="provider">Service Provider</label>
                <select name="provider" id="provider">
                    <option value="" selected disabled>Choose your preferred network</option>
                    <option value="mtn">MTN</option>
                    <option value="telecel">Telecel</option>
                </select>
            </div>

            <div class="input-field">
                <app-fields label="Account Name"
                type="text"
                placeholder="Enter account name"
                [class]="'custom-style'"/>
            </div>

            <div class="input-field">
                <app-fields label="Account Akias"
                type="text"
                placeholder="Enter a desired name you wish to attach to your account"
                [class]="'custom-style'"/>
            </div>

            <div class="input-field">
                <app-fields label="Mobile Money"
                type="number"
                placeholder="000 000 0000"
                [class]="'custom-style'"/>
            </div>
        </div>

        <div class="form-actions">
            <button type="button" class="cancel-btn">Cancel</button>
            <button type="submit" class="save-btn">Save</button>
        </div>
    </form>
</div>

