<div class="container">
    <div class="col-1">
        <div class="rate">
            <h1>4.0</h1>
            <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />
            <p>2K ratings</p>
        </div>
    
        <div class="rate-bars">
            <div class="bar">
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">5.0</p>
                <p class="bar-reviews">14k Reviews</p>
            </div>
            <div class="bar">
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">4.0</p>
                <p class="bar-reviews">14k Reviews</p>
            </div>
            <div class="bar">
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">3.0</p>
                <p class="bar-reviews">14k Reviews</p>
            </div>
            <div class="bar">
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">2.0</p>
                <p class="bar-reviews">14k Reviews</p>
            </div>
            <div class="bar">
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">1.0</p>
                <p class="bar-reviews">14k Reviews</p>
            </div>
            
    
        </div>
    </div>

    @for (review of displayedReviews; track $index) {
        <div class="col-2">
            <div class="profile">
                <div class="left">
                    <img [src]="review.authorInfo?.profileImage ? review.authorInfo?.profileImage : defaultImage" alt="profile image">

                    <p class="name">{{review.authorInfo?.userName}}</p>
                    <p class="time">4 months ago</p>
                </div>
        
                <div class="right">
                    <p class="rate">{{review.rating}}.0</p>
                    <p-rating [(ngModel)]="review.rating" [readonly]="true" [cancel]="false" />
                </div>
            </div>

            <p class="message">{{review.content}}</p>
        </div>
    }

    <div class="review-actions">
        <a (click)="toggleReviews()">
            @if (!showAllReviews) {
                <span>Read all reviews</span>
            }
            @if (showAllReviews) {
                <span>Show less</span>
            }
            <i [class]="showAllReviews ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"></i>
        </a>
    </div>
    </div>