<div class="container">
    <div class="col-1">
        <div class="rate">
            <h1>4.0</h1>
            <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />
            <p>2K ratings</p>
        </div>
    
        <div class="rate-bars">
            <div class="bar">
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">5.0</p>
                <p class="bar-reviews">14k Reviews</p>
            </div>
            <div class="bar">
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">4.0</p>
                <p class="bar-reviews">14k Reviews</p>
            </div>
            <div class="bar">
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">3.0</p>
                <p class="bar-reviews">14k Reviews</p>
            </div>
            <div class="bar">
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">2.0</p>
                <p class="bar-reviews">14k Reviews</p>
            </div>
            <div class="bar">
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">1.0</p>
                <p class="bar-reviews">14k Reviews</p>
            </div>
            
    
        </div>
    </div>

    <div class="col-2">
        <div class="profile">
            <div class="left">
                <img src="../../../../../../assets/images/core.png" alt="profile image">
                <p class="name">Hillary Mills</p>
                <p class="time">4 months ago</p>
            </div>
    
            <div class="right">
                <p class="rate">4.0</p>
                <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />
            </div>
        </div>

        <p class="message">
            Towering performance by Matt Damon as a troubled working class who needs to address his creative genius elevates this drama way above its therapeutic approach, resulting in a zeitgeist film that may touch chord with young viewers the way The Graduate did
        </p>
    
        <div class="images">
            <img src="../../../../../../assets/images/core.png" alt="image">
            <img src="../../../../../../assets/images/core.png" alt="image">
            <img src="../../../../../../assets/images/core.png" alt="image">
        </div>
    </div>
    <div class="col-2">
        <div class="profile">
            <div class="left">
                <img src="../../../../../../assets/images/core.png" alt="profile image">
                <p class="name">Hillary Mills</p>
                <p class="time">4 months ago</p>
            </div>
    
            <div class="right">
                <p class="rate">4.0</p>
                <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />
            </div>
        </div>

        <p class="message">
            Towering performance by Matt Damon as a troubled working class who needs to address his creative genius elevates this drama way above its therapeutic approach, resulting in a zeitgeist film that may touch chord with young viewers the way The Graduate did
        </p>
    
        <div class="images">
            <img src="../../../../../../assets/images/core.png" alt="image">
            <img src="../../../../../../assets/images/core.png" alt="image">
            <img src="../../../../../../assets/images/core.png" alt="image">
        </div>
    </div>

    <a>
        <span>Read all reviews</span>
        <i class="pi pi-chevron-down"></i>
    </a>
    </div>