<div class="container">
<h2>Reviews</h2>
<div class="col-1">
    @if (analytics) {
        <div class="rate">
            <h1>{{analytics.averageRating}}.0</h1>
            <p-rating [(ngModel)]="analytics.averageRating" [readonly]="true" [cancel]="false" />
            <p>{{analytics.totalReviews}}K ratings</p>
        </div>
    }

    <div class="rate-bars">
        <div class="bar">
            @if (analytics) {
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">5.0</p>
                <p class="bar-reviews">{{analytics.fiveStarCount}}k Reviews</p>
            }
        </div>
        <div class="bar">
            @if (analytics) {
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">4.0</p>
                <p class="bar-reviews">{{analytics.fourStarCount}}k Reviews</p>
            }
        </div>
        <div class="bar">
            @if (analytics) {
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">3.0</p>
                <p class="bar-reviews">{{analytics.threeStarCount}}k Reviews</p>
            }
        </div>
        <div class="bar">
            @if (analytics) {
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">2.0</p>
                <p class="bar-reviews">{{analytics.twoStarCount}}k Reviews</p>
            }
        </div>
        <div class="bar">
            @if (analytics) {
                <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
                <p class="bar-rate">1.0</p>
                <p class="bar-reviews">{{analytics.oneStarCount}}k Reviews</p>
            }
        </div>
        

    </div>
</div>

@for (review of displayedReviews; track $index) {
    <div class="col-2">
        <div class="profile">
            <div class="left">
                <img [src]="review.authorInfo?.profileImage ? review.authorInfo?.profileImage : defaultImage" alt="profile image">
                <p class="name">{{review.authorInfo?.userName}}</p>
                @if (getTime === '1 year ago') {
                    <p class="time">
                      1 year in business
                    </p>
                  }
                  
                  @if (getTime !== '1 year ago') {
                    <p class="time">
                      {{ getTime }}
                    </p>
                  }
            </div>
    
            <div class="right">
                <p class="rate">{{review.rating}}.0</p>
                <p-rating [(ngModel)]="review.rating" [readonly]="true" [cancel]="false" />
            </div>
        </div>
        <p class="message">{{review.content}}</p>
    </div>
}

<div class="review-actions">
    <a (click)="toggleReviews()">
        @if (!showAllReviews) {
            <span>Read all reviews</span>
        }
        @if (showAllReviews) {
            <span>Show less</span>
        }
      <i [class]="showAllReviews ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"></i>
    </a>
  </div>
</div>