<div class="container">
<h2>Reviews</h2>
<div class="col-1">
    <div class="rate">
        <h1>4.0</h1>
        <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false" />
        <p>2K ratings</p>
    </div>

    <div class="rate-bars">
        <div class="bar">
            <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
            <p class="bar-rate">5.0</p>
            <p class="bar-reviews">14k Reviews</p>
        </div>
        <div class="bar">
            <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
            <p class="bar-rate">5.0</p>
            <p class="bar-reviews">14k Reviews</p>
        </div>
        <div class="bar">
            <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
            <p class="bar-rate">5.0</p>
            <p class="bar-reviews">14k Reviews</p>
        </div>
        <div class="bar">
            <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
            <p class="bar-rate">5.0</p>
            <p class="bar-reviews">14k Reviews</p>
        </div>
        <div class="bar">
            <p-meterGroup [value]="values" [style]="{ width: '320px'}" />
            <p class="bar-rate">5.0</p>
            <p class="bar-reviews">14k Reviews</p>
        </div>
        

    </div>
</div>
@for (review of reviews | slice:0:3; track $index) {
    <div class="col-2">
        <div class="profile">
            <div class="left">
                <img [src]="review.authorInfo?.profileImage ? review.authorInfo?.profileImage : defaultImage" alt="profile image">
                <p class="name">{{review.authorInfo?.userName}}</p>
                @if (getTime === '1 year ago') {
                    <p class="time">
                      1 year in business
                    </p>
                  }
                  
                  @if (getTime !== '1 year ago') {
                    <p class="time">
                      {{ getTime }}
                    </p>
                  }
            </div>
    
            <div class="right">
                <p class="rate">({{review.rating}})</p>
                <p-rating [(ngModel)]="review.rating" [readonly]="true" [cancel]="false" />
            </div>
        </div>
        <p class="message">{{review.content}}</p>
    </div>
}
@if (showAllReviews) {
    <a (click)="showAllReviews = false">
        <span>Show less</span>
        <i class="pi pi-chevron-up"></i>
    </a>
}
@else {
    <a (click)="showAllReviews = true">
        <span>Read all reviews</span>
        <i class="pi pi-chevron-down"></i>
    </a>
}
</div>