@use '../../../../../styles/_functions' as *
@use '../../../../../styles/_mixins' as *
@use '../../../../../styles/_variables' as *

.container
    height: 100vh
    display: flex
    flex-direction: column

.content-area
    flex: 1
    display: flex