/* You can add global styles to this file, and also import other style files */
@use './styles/_base' as *
@use './styles/_functions' as *
@use './styles/_mixins' as *
@use './styles/_variables' as *

*
    box-sizing: border-box
    margin: 0
    padding: 0    

body, button, input, textarea
    font-family: $font-stack
