<form [formGroup]="bankDetailsForm" (ngSubmit)="onSubmit()">
  <div class="bankName">
    <label for="bankName">Bank Name</label>
    <p-dropdown
      formControlName="bankName"
      [options]="banks"
      optionLabel="bankName"
      placeholder="Select a Bank"
      [ngClass]="{
        'ng-invalid ng-dirty':
          bankDetailsForm.get('bankName')?.touched &&
          bankDetailsForm.get('bankName')?.invalid
      }"
    />
    <small
      class="error-message"
      *ngIf="
        bankDetailsForm.get('bankName')?.touched &&
        bankDetailsForm.get('bankName')?.invalid
      "
    >
      Bank name is required
    </small>
  </div>
  <div class="accountName">
    <label for="accountName">Account Name</label>
    <input
      type="text"
      pInputText
      formControlName="accountName"
      placeholder="Enter account name"
      [ngClass]="{
        'ng-invalid ng-dirty':
          bankDetailsForm.get('accountName')?.touched &&
          bankDetailsForm.get('accountName')?.invalid
      }"
    />
    <small
      class="error-message"
      *ngIf="
        bankDetailsForm.get('accountName')?.touched &&
        bankDetailsForm.get('accountName')?.invalid
      "
    >
      Account name is required
    </small>
  </div>

  <div class="accountAlias">
    <label for="accountAlias">Account Alias</label>
    <input
      type="text"
      pInputText
      formControlName="accountAlias"
      placeholder="Enter a desired name"
      [ngClass]="{
        'ng-invalid ng-dirty':
          bankDetailsForm.get('accountAlias')?.touched &&
          bankDetailsForm.get('accountAlias')?.invalid
      }"
    />
    <small
      class="error-message"
      *ngIf="
        bankDetailsForm.get('accountAlias')?.touched &&
        bankDetailsForm.get('accountAlias')?.invalid
      "
    >
      Account alias is required
    </small>
  </div>

  <div class="accountNumber">
    <label for="accountNumber">Account Number</label>
    <p-inputNumber
      formControlName="accountNumber"
      placeholder="0000 0000 0000"
      [useGrouping]="false"
      [maxlength]="13"
      [ngClass]="{
        'ng-invalid ng-dirty':
          bankDetailsForm.get('accountNumber')?.touched &&
          bankDetailsForm.get('accountNumber')?.invalid
      }"
    />
    <small
      class="error-message"
      *ngIf="
        bankDetailsForm.get('accountNumber')?.touched &&
        bankDetailsForm.get('accountNumber')?.hasError('required')
      "
    >
      Account number is required
    </small>
    <small
      class="error-message"
      *ngIf="
        bankDetailsForm.get('accountNumber')?.hasError('lengthError') &&
        bankDetailsForm.get('accountNumber')?.touched
      "
    >
      Account number must be 13 digits
    </small>
  </div>

  <div class="buttons">
    <p-button label="Cancel" severity="secondary" (onClick)="closeDialog()" />
    <p-button type="submit" label="Save" />
  </div>
</form>
