<app-user-profile-header/>
<app-navbar [backgroundColor]="'#F2F4F5'"/>

<div class="container">

    <header>
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <img src="../../../../../assets/search.svg" alt="search">
        </div>
        <div class="sort-container">
            <p>Sort by: </p>
            <select>
                <option>Most Popular</option>
                <option>Most Recent</option>
            </select>
        </div>
    </header>

    <div class="cards">
        <app-pro-info-card/>
        <app-pro-info-card/>
        <app-pro-info-card/>
    </div>
</div>