<div class="container">
    <div class="logo">
        <img src="assets/svgs/Logo.svg" alt="logo">
    </div>

    <div class="form">
        <h6>Forgot Password?</h6>
        <p>Enter your email address to reset password</p>

        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="email" [ngClass]="{'has-error': resetForm.get('email')?.invalid && (resetForm.get('email')?.dirty || resetForm.get('email')?.touched)}">
                <img src="assets/svgs/email.svg" alt="email">
                <input type="email" placeholder="Email" formControlName="email">
              </div>
              <div class="error-message" *ngIf="resetForm.get('email')?.invalid && (resetForm.get('email')?.dirty || resetForm.get('email')?.touched)">
                Email is required and must be valid
              </div>
            <div class="buttons">
                <button class="btn-verify" [disabled]="resetForm.invalid">Verify Email</button>
            <button class="btn-back" (click)="backToLogin()">Back to login</button>
            </div>
        </form>
    </div>
</div>
