<div class="chat">
  <div class="info">
    <div class="profile">
      <div class="avatar">
        <img
          src="https://s3-alpha-sig.figma.com/img/797c/bbb6/20594d91f1e71133193d2720d958fa1c?Expires=1733702400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mpMfNRDuy9jwhik3U7s140BiGdP0GUshXBBFWDkA~ntkDyc5IvVRc-39yUUCWBAdH3BGzU-3uV0H8IKU3L9fFQRKCP0gf~iUKZ0fUD8uhWNF1fQn7vsjqOlmnj~nnS7f5dY7LiCEVgPUNF9oOrIzcZnU294j6lH1cvCQoFlF7DLFVOCsQXSyfqJtJ9M-uilQ7RzyRrIUK0TFfXTD3zJO8qC4Eb6drzwn2teHhJ7clhv9nu3ISjvc7-IkHravJXO1V5F9i-k7o-9S0yJl-ogTYkFWqE3iAGrn0KWkZqjrbp7dHCtf5zZXJ0fGNOXQ3z3GX~ULu2xYQkUFghFI-qr4ZA__"
          alt="Avatar"
        />
      </div>
      <h4 class="username">William Owens</h4>
    </div>
    <span class="timestamp">44min ago</span>
  </div>

  <div class="message-blob">
    <p class="blob">Lorem ipsum dolor sit amet c...</p>
  </div>
</div>
