<div class="container">
    <div class="logo">
        <img src="assets/svgs/Logo.svg" alt="logo">
    </div>

    <div class="form">
        <h6>Log in to your Account</h6>
        <p>Welcome back, select a method to sign in</p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="email" [ngClass]="{'has-error': loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)}">
                <img src="assets/svgs/email.svg" alt="email">
                <input type="email" placeholder="Email" formControlName="email">
              </div>
              <div class="error-message" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                Email is required and must be valid
              </div>

              <div class="password" [ngClass]="{'has-error': loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)}">
                <img src="assets/svgs/password.svg" alt="lock">
                <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password">
                <img [src]="showPassword ? 'assets/svgs/open.svg' : 'assets/svgs/close.svg'" alt="" (click)="togglePassword()">
              </div>
              <div class="error-message" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                Password is required
              </div>
           <div class="forgot">
            <a>Forgot Password?</a>
           </div>
            <button class="btn-login" type="submit" [disabled]="loginForm.invalid">Log In</button>
            <div class="google">
                <img src="assets/svgs/Google.svg" alt="google">
                <button class="google-btn">Sign in with Google</button>
            </div>
            <div class="dont-have">
                <p>Don’t have an account?</p>
                <a>sign up</a>
            </div>
        </form>
    </div>
</div>