<div class="container">
    <div class="logo">
        <img src="assets/svgs/Logo.svg" alt="logo">
    </div>

    <div class="form">
        <h6>Log in to your Account</h6>
        <p>Welcome back, select a method to sign in</p>

        <form>
            <div class="email">
                <img src="assets/svgs/email.svg" alt="email">
                <input type="email" placeholder="Email">
            </div>

            <div class="password">
                <img src="assets/svgs/password.svg" alt="lock">
                <input type="password" placeholder="Password">
                 <img src="assets/svgs/close.svg" alt="">
            </div>
           <div class="forgot">
            <a>Forgot Password?</a>
           </div>
            <button class="btn-login" type="submit">Log In</button>
            <div class="google">
                <img src="assets/svgs/Google.svg" alt="google">
                <button class="google-btn">Sign in with Google</button>
            </div>
            <div class="dont-have">
                <p>Don’t have an account?</p>
                <a>sign up</a>
            </div>
        </form>
    </div>
</div>