@use '../../../../../styles/_functions' as *
@use '../../../../../styles/_variables' as *

.container

    .form
        display: flex
        flex-direction: column
        margin-top: pxToRem(20)
        padding: pxToRem(32) pxToRem(90)

        h6
            font-size: pxToRem(30)

        p
            font-size: pxToRem(16)
            color: $subtext  

    .email,
    .password
        display: flex
        flex-direction: row
        gap: pxToRem(10)
        background-color: #FAFBFE
        border: 1px solid #EFF2F7
        border-radius: pxToRem(8)
        padding: pxToRem(16) pxToRem(21)
        margin-top: pxToRem(32)

        img
          cursor: pointer


        input
          border: none
          background: transparent
          width: 100%
          &:focus
            outline: none

        &.has-error
          border: 1px solid $error

    .error-message
        color: $error

    .forgot
            display: flex
            justify-content: flex-end
            margin-top: pxToRem(10)

            a
                font-size: pxToRem(14)
                color: $primary
                cursor: pointer 

    .btn-login 
        width: pxToRem(550)
        padding: pxToRem(16) 0
        margin-top: pxToRem(16)
        border: none
        border-radius: pxToRem(8)
        background-color: $primary
        font-size: pxToRem(14)
        font-weight: 500
        text-transform: uppercase
        color: $white
        cursor: pointer

    .google
        display: flex
        flex-direction: row
        align-items: center
        gap: pxToRem(10)
        padding: pxToRem(16) pxToRem(160)
        margin-top: pxToRem(16)
        border: 1px solid $primary
        border-radius: pxToRem(8)
        cursor: pointer

        .google-btn
          border: none
          background: none
          font-size: pxToRem(14)
          font-weight: 500
          text-transform: uppercase
          cursor: pointer

    .dont-have
        margin-top: pxToRem(16)
        display: flex
        align-items: center
        justify-content: center
        gap: pxToRem(6)

        p
          font-size: pxToRem(14)
          color: $subtext
          font-weight: 500

        a
          color: $primary
          font-size: pxToRem(14)
          font-weight: 500
          text-transform: uppercase
          cursor: pointer     

                   
               
            
       
            
